[2015-10-25 22:10] benbalter opened #1 "Make Jekyll SEO Tag an "official" Jekyll plugin?"
After doing significant copy pasta to add some search engine metadata to choosealicense.com over in https://github.com/github/choosealicense.com/pull/300, I realized every time I stand up a new Jekyll site, I basically [copy the `seo.html` include from my personal site](https://github.com/benbalter/benbalter.github.com/blob/master/_includes/seo.html), which feels silly.

Like jekyll-sitemap and je

[2015-10-26 00:24] parkr commented on #1
If it's community-owned, it'll be at the whim of what the community wants, which may expand the functionality of this beyond what you originally envisioned.

Looks like the [template is in this repo?](https://github.com/benbalter/jekyll-seo-tag/blob/master/lib/template.html). I'm neck-deep in other Jekyll code atm so let me know if I'm missing something glaring. I bet I am.

[2015-10-30 17:26] benbalter opened #2 "Strip trailing /index.html from seo_url"

[2015-11-12 01:50] benbalter opened #4 "Must strip smart quotes from URL"
Apparently W3 thinks they're still quotes

[2015-11-17 20:17] benbalter opened #5 "Must properly escape quotes in description and title, smart quotes aren't enough"

[2015-11-20 01:20] benbalter commented on #5
Closing in favor of https://github.com/benbalter/jekyll-seo-tag/issues/4

[2015-11-20 01:20] #5 closed

[2015-11-25 00:16] parkr commented on #1
@benbalter ^

[2015-11-25 18:56] benbalter commented on #1
@benbalter rules with an iron fist.

[2015-11-30 18:49] XhmikosR opened #7 "Add support for a global image if one isn't specified per post/page"
Otherwise, there is no image shown and it doesn't look very nice.

While at it, perhaps you could handle `og:image:secure_url` too when the `url` is https. I personally do this https://github.com/mpc-hc/mpc-hc.org/blob/master/source/_includes/header.html#L39

Finally, I wonder if it would be possible to add the width and height too automatically?

[2015-11-30 22:16] benbalter commented on #7
If I'm understanding correctly, this can be done via frontmatter defaults.

Not within Jekyll (we'd have to add Ruby to read the image, which I'd prefer not to do for purposes of keeping things simple).

[2015-11-30 22:22] XhmikosR commented on #7
IMO the global image seems reasonable since it's SEO specific. I can add it manually, sure, I'm just looking what things are missing from my implementation before switching to this.

[2016-01-03 22:15] #4 closed

[2016-01-04 20:50] benbalter opened #8 "Add support for google site verification meta tag for google webmaster tools"
`<meta name="google-site-verification" content="XXX" />`

[2016-01-04 21:56] parkr opened #9 "Add "keywords""
`site.keywords` can be `join`'d by a `,` to yield the `keywords` meta tag.

[2016-01-04 22:01] benbalter commented on #9
First two results for "meta tags seo":

* [Reasons Why You Should Stop Using Keywords Meta Tag](http://cohlab.com/blog/stop-using-keywords-meta-tag.html)
* [Official Google Webmaster's blog: Google does not use the keywords meta tag in web ranking](https://googlewebmastercentral.blogspot.com/2009/09/google-does-not-use-keywords-meta-tag.html)

[2016-01-04 22:04] parkr commented on #9
I stand corrected, then. :smile:

[2016-01-04 22:04] #9 closed

[2016-01-05 18:16] pathawks opened #10 "og:title should not contain site.title"
From [Facebook](https://developers.facebook.com/docs/sharing/webmasters#markup):

[2016-01-05 18:38] benbalter commented on #10
Makes sense. @pathawks if you're interested, should be a super simple pull request?

[2016-01-05 18:40] pathawks commented on #10
No problem. I’ll take a look later today :+1:

[2016-01-06 08:52] pathawks opened #17 "Poor Man’s Smartypants"
[code]

What we are doing here is rolling our own SmartyPants implementation in Liquid, which is not great.

Redcarpet has a [fantastic SmartyPants implementation](https://github.com/vmg/redcarpet#also-now-our-pants-are-much-smarter), and is even [already included in GitHub Pages](https://github.com/github/pages-gem/blob/v40/lib/github-pages.rb#L18).

We could implement our own Liquid filter (visi

[2016-01-06 09:28] pathawks opened #18 "Author name == Twitter Username?"
We are currently assuming that, if an `author` is provided for a post, the `author` is [a string that corresponds to a Twitter username.](https://github.com/benbalter/jekyll-seo-tag/blob/v0.1.3/lib/template.html#L92-L94)

That is to say, `author: "Pat Hawks"` would cause false data to be rendered, because my Twitter username has no space in it, but I *do* include a space in the name I include on m

[2016-01-06 15:27] #2 closed

[2016-01-06 15:40] #10 closed

[2016-01-06 15:43] benbalter commented on #18
It adds some complexity, but I'd be fine taking [the approach Jekyll-Feed takes](https://github.com/jekyll/jekyll-feed/blob/98cd38e7220b7e692f7f0f1186228a5673267adf/README.md#optional-configuration-options), meaning, it can either be a string (the user's username) or a hash, with some sort of username property, both falling back to the global config, if none is present.

[2016-01-06 15:47] benbalter commented on #17
Same here. There's a good chance [GitHub Pages actually drops RedCarpet support in the near future](https://github.com/github/pages-gem/issues/179).

Is there a clean way to create a "macro" for lack of better liquid vocabulary, that would chain those filters and allow us to DRY things up a bit, even if we had to go into Ruby land?

[2016-01-06 15:48] benbalter commented on #17
![screen shot 2016-01-06 at 10 48 03 am](https://cloud.githubusercontent.com/assets/282759/12146684/fa60e480-b462-11e5-8fb2-43d0f87bc94a.png)

LOL.

[2016-01-10 00:26] pathawks commented on #17
A proper Liquid `smartify` filter has just been added to Jekyll core. jekyll/jekyll#4323

I suppose we should keep the current filter chain for now, but maybe we could move to `smartify` once support has been added to GitHub pages?

[2016-01-11 15:41] benbalter commented on #17
Makes sense. :+1:

[2016-01-11 19:54] akhyarrh opened #23 "jekyll-feed"
I don't know how to give better title.

### `jekyll-feed` use `site.name:`, not `site.title:`
[code]

### Author
[code]

Will there be a conflict?

[2016-01-11 22:15] pathawks commented on #23
We should use `site.title` if it exists, and fallback to `site.name` otherwise. This would mirror behavior of jekyll/jekyll-feed#72

If `author` is a hash, we should use `author.name` instead. This would mirror behavior of jekyll/jekyll-feed#31

[2016-01-12 00:54] boturnbow opened #24 "site.logo is relative while page.image is absolute"
Is it necessary to make page.image an absolute URL instead of relative? It would be much nicer to make it relative like site.logo. Thanks for a nice gem!

[2016-01-12 15:55] benbalter commented on #23
Fixed via https://github.com/benbalter/jekyll-seo-tag/issues/25. FWIW, I suspect they should all be `site.title` to page `post.title` and `page.title`, but makes sense to have the fallback to avoid a breaking change.

[2016-01-12 15:55] #23 closed

[2016-01-12 20:51] pathawks opened #27 "Consolidate and clean up JSON-LD"
Right now, we are outputting (potentially) *four* JSON-LD blocks on a single page, each claiming the page to be a different `@type`, any many containing redundant data.

I believe we could consolidate these into a single block with a single `@type` and still convey all the same information.

[2016-01-12 22:19] pathawks commented on #27
I am tempted to tackle this by creating a Hash in Ruby with all of the data and passing that to the template, instead of doing everything in Liquid.

I think it would make for cleaner code but, alas, I understand that the more we can do in Liquid the easier the code review is.

[2016-01-12 22:23] benbalter commented on #27
String manipulation is *generally* okay, if it's just a matter of building a hash and running `to_json`, but when you start doing that with user input, things get tricky. What happens if a user sets their site name to 100MB of random text?

[2016-01-12 23:42] pathawks commented on #27
Closing this in favor of #28 so I can put my `code` where my mouth is

[2016-01-12 23:42] #27 closed

[2016-01-13 04:38] pathawks commented on #24
If we are looking at the same code, it would appear that [`site.logo` is expected to be relative](https://github.com/benbalter/jekyll-seo-tag/blob/v0.1.4/lib/template.html#L111), while [`page.image` can be whatever](https://github.com/benbalter/jekyll-seo-tag/blob/v0.1.4/lib/template.html#L69).

It seems that `page.image` offers more flexibility. By not prepending the site URL, the URL can host th

[2016-01-13 04:51] pathawks commented on #24
I was going to lookup how **jekyll-feed** deals with this, but it does not include any thumbnails or logos in the site feed.

[2016-01-13 05:52] boturnbow commented on #24
That's it - thanks for being much clearer than me. I agree that an absolute URL is more flexible than relative. But I think of a Jekyll site as being mostly self-contained or at least allowing that option. I can't remember another instance of an absolute url in a page's front matter. I expect to configure a host and baseurl in _config.yml, but not absolute elsewhere in a site. Maybe I'm imagining

[2016-01-13 06:28] pathawks commented on #24
So, you'd like `page.image` to also have the site URL prepended to it, to match the behavior of `site.logo`? Do I understand?

[2016-01-13 15:38] boturnbow commented on #24
Yes, I would like page.image to match the [URL construction of site.logo](https://github.com/benbalter/jekyll-seo-tag/blob/master/lib/template.html#L111) with the seo_url and a / prepended. What do you think?

[2016-01-20 00:15] benbalter opened #30 "Fall back to truncated post excerpt if none given."

[2016-01-20 00:19] benbalter opened #31 "Support for global author's data in _data"
Where the object added in https://github.com/benbalter/jekyll-seo-tag/pull/26, can be replaced with a name, which would pull `site.data.authors[name]`.

[2016-01-20 00:21] benbalter opened #32 "Support for `fb:app_id` and `article:publisher` tags"
Both of which are related to Facebook.

[2016-01-20 04:21] pathawks commented on #31
**YES PLEASE** :+1:

[2016-01-20 04:23] pathawks commented on #30
Is that better than just letting the consumer (Facebook or whomever) figure it out on their own?

[2016-01-20 20:44] parkr commented on #30
I think so. A post `excerpt` will generally know what the content is, whereas Facebook might take the header or something else as the content excerpt. If you have a sidebar, it may use the links on your sidebar. Etc, etc.

[2016-01-20 20:44] parkr commented on #31
:+1: on this too!

[2016-01-20 22:28] pathawks commented on #31
I can take a stab at this over the weekend.

[2016-01-26 00:19] #30 closed

[2016-01-29 08:05] ickc commented on #31
:+1:

[2016-01-29 14:50] CGarces opened #35 "Use page.excerpt for og:description"
There is any possibility to use the page.excerpt if page description not is available?
I think that is a better approach that use the site.description.
This is my current code that cam be adapted is some way

[code]

[2016-01-29 15:24] CGarces commented on #35
Looks like a similar issue is fixed
https://github.com/benbalter/jekyll-seo-tag/commit/6dab82639ea393f93033efc5e3f5005e864de2b4

Maybe is better limit the content. If page.excerpt not is set jekyll set a default value that maybe is too big.

	{{ page.excerpt | strip_html | truncatewords: 250 }}

How can I know when this fix will be promoted to rubygems?

[2016-01-29 17:24] benbalter commented on #35
Fixed by https://github.com/benbalter/jekyll-seo-tag/pull/34, which should be available in the next release.

[2016-01-29 17:24] #35 closed

[2016-01-30 00:39] CGarces opened #37 "Suport for BlogPosting"
The template is defined as NewsArticle, but in some sites BlogPosting is more accurate.

Both types inherit from Article, change the `@type` based on the value at _config.yml should work.

Something like

[code]

[2016-01-30 00:43] CGarces commented on #37
Opps I see the WIP at
https://github.com/benbalter/jekyll-seo-tag/pull/28

[2016-01-30 00:43] #37 closed

[2016-01-30 02:13] pathawks commented on #37
Thanks for the interest :+1:

I’ll try to put some polish on that PR when I can.

[2016-02-01 23:25] boturnbow commented on #17
+1

[2016-02-03 00:13] boturnbow opened #42 "Tests fail"
I was starting to make a pull request for #24, but after forking and cloning `master` all tests fail with:

[code]

I tried several things (ruby versions, gem re-installs) and then tested the 0.1.4 tag with the same test failures. Just to be sure I pushed a small readme change to travis and the build failed on travis, too: https://travis-ci.org/boturnbow/jekyll-seo-tag/builds/106609578. I cloned j

[2016-02-03 03:02] pathawks commented on #42
Yes, this is due to [github/pages-gem](https://github.com/github/pages-gem) updating to Jekyll 3 and, with it, Liquid 3.

This was caused by Shopify/liquid#321

We just need to tweak our tests to use `.parse` instead of `.new`

[2016-02-03 05:01] boturnbow commented on #42
Cool beans!

[2016-02-03 17:30] #42 closed

[2016-02-03 17:31] #24 closed

[2016-02-09 21:20] #32 closed

[2016-02-09 21:22] #8 closed

[2016-02-21 19:34] benbalter commented on #31
Fixed by #52

[2016-02-21 19:34] #31 closed

[2016-02-21 19:45] benbalter commented on #18
Fixed by #26 / #52

[2016-02-21 19:45] #18 closed

[2016-02-22 20:07] benbalter commented on #1
It's official!

![screen_shot_2016-02-22_at_3_06_17_pm](https://cloud.githubusercontent.com/assets/282759/13231050/f0f9b452-d975-11e5-99f8-919b3b92e3b8.png)

[2016-02-22 20:07] #1 closed

[2016-02-22 20:38] pathawks commented on #1
:tada: Yay :+1:

[2016-02-25 15:29] raybesiga opened #58 "Issue with showing post or page image in generated tag script"
I have installed Jekyll-SEO-tag as per the specification and my config is as follows:

[code]

I configure my head file this way, to compare the hard-coded meta with the generated meta
[code]

On inspection, the Image URL is not defined right:
[code]

Is there a configuration I am getting wrong?

[2016-02-25 15:53] benbalter commented on #58
@raybesiga thanks for reporting this, and for the excellent writeup. This was fixed by @boturnbow over in https://github.com/jekyll/jekyll-seo-tag/pull/57, and should be corrected in the next release, out momentarily.

[2016-02-25 15:53] #58 closed

[2016-02-26 00:29] raybesiga commented on #58
@benbalter Thanks :+1:

[2016-03-01 17:24] XhmikosR opened #64 "Issues with the plugin"
So, I'm trying to get the plugin in Bootstrap v4-dev branch and I notice the following (sorry for not splitting them)

1. `<meta name="twitter:description" content="" />` while `<meta name="description" content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">`. The description is set in _config.yml
2. The title is wrong if I set

[2016-03-01 17:39] pathawks commented on #64
But the title of the page _is_ “Introduction”

[2016-03-01 17:48] XhmikosR commented on #64
The title is `Introduction &middot; Bootstrap`, not only `Introduction`.

[2016-03-01 19:34] pathawks commented on #64
Yes, I understand that that is what is contained in the `<title>` tag, but that isn’t _really_ the title of the page. If you were to list all of the pages in a table of contents, they wouldn’t all have “Bootstrap” tacked onto the end.

Twitter limits this field to 70 characters, so it is important to avoid cluttering this with anything extra.

[2016-03-01 19:49] XhmikosR commented on #64
I see. Then that makes sense.

The first issue is valid though.

[2016-03-01 19:54] XhmikosR commented on #64
Although, I do have a case where I see both types.

[code]

`twitter:title` isn't the same as `headline` and includes the `MPC-HC` part with a random separator also (not `&middot;`).

[2016-03-01 20:09] pathawks commented on #64
Looking at the code, I'm not sure how this is possible. Can you maybe submit a failing test?

[2016-03-01 20:10] XhmikosR commented on #64
No idea how to do that, sorry.

Probably it's an edge case due to `title=false`.

[2016-03-02 05:01] pathawks commented on #64
As far as your first point, the code outputs the same thing for `description` and `twitter:description`. I have no idea how one but not the other could be blank.

[code]

To your second point, it [looks like `twitter:title` is using `seo_title` instead of `seo_page_title`](https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/template.html#L129). This feels like a bug to me.

[2016-03-02 09:27] XhmikosR commented on #64
About the first problem, it's because the code checks for `page.description` and not `site.description`. Which is right technically, since it's bad to use the same page description.

[2016-03-02 09:29] XhmikosR commented on #64
Also, to correct my initial statement, in Bootstrap, meta description is set in _header.html and not in _config.yml.

[2016-03-02 20:05] XhmikosR commented on #64
Another thing I was wondering, should the `sameAs` show in all pages or only in homepage?

[2016-03-02 20:16] pathawks commented on #64
`sameAs` is page specific. It will be included for any page that has the property set, _and_ include site wide links on home and about pages.

[2016-03-03 00:55] pathawks commented on #64
With the recent changes, the output is now:

[code]

This seems to be working as intended, so I am closing this issue. If you run into any more problems, please do open an issue for each one :+1:

[2016-03-03 00:55] #64 closed

[2016-03-03 20:36] DirtyF opened #68 "Support Twitter summary card with large image"
Hi,

Support of [large image in Twitter Summary Cards](https://dev.twitter.com/cards/types/summary-large-image) would be nice.

The only difference with the actual summary card seems to be the content attribute value:

[code]
I manually added the meta:
https://github.com/sudweb/2016/blob/gh-pages/_includes/head.html#L8

I tested it on http://sudweb.github.io/2016/
It seems that if both twitter met

[2016-03-03 20:37] benbalter commented on #68
What do you think about using `summary_large_image` whenever `post.image` is defined?

[2016-03-03 20:49] DirtyF commented on #68
`post.image` or `page.image` in my above case would be great.

[2016-03-03 20:52] benbalter opened #69 "Documents don't have auto-generated excerpts/descriptions"
See e.g., https://jekyllrb.com/docs/frontmatter/.

[2016-03-03 20:53] benbalter commented on #68
Ahh yes, `page.image`. @DirtyF if you'd like to submit a pull request to change https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/template.html#L127 `if page.image` that'd be awesome!

[2016-03-07 15:51] #68 closed

[2016-03-08 13:04] iloveip opened #73 "Strip html from meta property"
Hi there,

Is there anyway to strip html from meta property like `og:title`, `og:description` and so on? I have some html code in my output like `&nbsp;` and would like to remove it.

[2016-03-08 13:57] iloveip opened #74 "Extra slashes in logo output"
Hi there,

In my `_config.yml` file I have:
[code]

But in the output for logo there are some extra slashes:
[code]

Is there any way to fix it?

[2016-03-08 15:04] benbalter commented on #74
@iloveip thanks for the issue. I suspect this will be fixed by https://github.com/jekyll/jekyll-seo-tag/pull/60 in the next release. Also to note, your `site.url` should not have a trailing slash and `baseurl` should not be `/`, if it is (which I suspect may also be the case).

[2016-03-08 15:04] #74 closed

[2016-03-08 15:04] benbalter commented on #74
Please leave a comment here if it's not fixed in the next version of the plugin. :smile:

[2016-03-08 15:06] benbalter commented on #73
@iloveip this should [already be the case](https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/template.html#L49). Is it just &nbsp; or are you able to recreate it with other HTML markup?

[2016-03-09 19:29] iloveip commented on #73
@benbalter in meta property `og:title` and `og:description` it's just `&nbsp;`. In `<script type="application/ld+json">` there are some other tags as well:

[code]
There are also `&nbsp;` tags in `<link rel="next">` and `<link rel="prev">`.

[2016-03-09 19:36] pathawks commented on #73
We are [stripping HTML](https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/template.html#L49), so I’m not sure how the `<em>` tag slipped through. Would *love* a PR with a failing test to try to fix that one.

As far as `&nbsp;`, this is totally valid inside a title or description. We shouldn’t try to modify these.

[2016-03-14 00:37] ickc opened #75 "The Whole Content is Put in `<meta name="twitter:description"...` and the like when `description` is not present"
Hi,

I found out that if the post do not have a metadata of `description` in the YAML front matter, the `jekyll-seo-tag` will put the whole content of the document in the `<meta name="twitter:description"...`, causing a huge resultant file.

[2016-03-15 20:58] boturnbow commented on #75
The current version of the seo tag does not output a tag like `<meta name="twitter:description"...`

Instead it outputs `<meta property="og:description" content="...">` and `"description": "..."` in the LD+JSON block. Could the results you are seeing be coming from a layout and not from the seo tag? Do you have some code I could look at?

I notice that the seo tag uses page.excerpt if page.descrip

[2016-03-17 22:04] boturnbow commented on #75
FYI: http://jekyllrb.com/docs/posts/#post-excerpts

[2016-03-17 22:05] ickc commented on #75
Hi, thanks for explaining it. I am very busy in these 2 weeks and will come back after that. I'll make a MWE to see what's wrong and report my finding.

[2016-04-19 13:43] benbalter opened #77 "Ability to support Facebook and Twitter specific images, set image height and width"
Via @leereilly, Facebook and Twitter require different sized images, and for Facebook, if height and width is passed, it saves Facebook from making an async call, and thus the image loads faster. Isn't the internet a wonderful place?

I'm thinking that the `image` property should continue to work as it does today, if it's passed a string, e.g., `image: /foo.png`.

However, if the `image` property

[2016-04-25 14:11] #77 closed

[2016-04-25 16:40] pathawks commented on #75
This plugin does not output any `twitter:description` tag.

We [_do_ output `og:description`](https://github.com/jekyll/jekyll-seo-tag/blob/v1.3.3/lib/template.html#L103-L106). We try to pull that value from `page.description`. If the post metadata does not include `description`, we fallback [first to `page.excerpt` and then to `site.description`](https://github.com/jekyll/jekyll-seo-tag/blob/v1.3

[2016-04-25 16:40] #75 closed

[2016-04-25 16:41] #73 closed

[2016-04-25 16:42] pathawks commented on #7
Frontmatter defaults are the way to go :+1:

[2016-04-25 16:42] #7 closed

[2016-05-03 13:10] neoascetic opened #80 "Prev/next links are more appropriate for pagination?"
Quote from [this google blogpost](https://webmasters.googleblog.com/2011/09/pagination-with-relnext-and-relprev.html):

I am not sure that it is good to use prev/next meta links on posts because content on each of them may be completely different and not related at all. However, I am sure that these links must be enabled on pages with pagination. What do you think?

[2016-05-03 21:25] mlake opened #81 "Using seo:type: Product incorrectly generates "headline" which google does not like"

[2016-05-06 10:38] iloveip opened #82 "Question about Google Analytics"
Hi there,

I see that jekyll-seo-tag generates `<script async="" src="//www.google-analytics.com/analytics.js"></script>` in the `<head>` of the site. Do I need to include the standard Google Analytics script to the site additionally? If not, how do I add Google Analytics ID code (UA-XXXXXXXX-X) to the script above?

[2016-05-06 13:10] DirtyF commented on #82
@iloveip AFAIK  jekyll-seo-tag does not insert any analytics script, maybe you use another Jekyll plugin? The best place to to specify your GA tracking ID is the `_config.yml` file.

[2016-05-06 13:14] iloveip commented on #82
@DirtyF Thank you very much for your reply. But I get this code inside Jekyll SEO tag. Here is the full version (some text is in Russian):

[code]

[2016-05-06 13:22] DirtyF commented on #82
@iloveip Weird, I can't see [any reference to analytics in jekyll-seo-tag source code](https://github.com/jekyll/jekyll-seo-tag/search?utf8=%E2%9C%93&q=analytics), and I can't reproduce your issue.

[code]

[2016-05-06 13:51] XhmikosR commented on #10
Sorry for bumping an old issue but I think the problem I see is related to this change.

I'm getting

[code]

I'm using the plugin as `{% seo title=false %}`.

[2016-05-06 14:07] benbalter commented on #82
Do you have another plugin or template that's doing some sort of find/replace on `<script>`? Can you reproduce this with another site?

[2016-05-06 15:39] pathawks commented on #10
@XhmikosR Can you submit a PR with a failing test, or provide some other way for me to recreate this problem?

[2016-05-06 15:41] XhmikosR commented on #10
@pathawks: it happens with this branch https://github.com/mpc-hc/mpc-hc.org/compare/jekyll-seo-tag

[2016-05-06 16:04] pathawks commented on #10
@XhmikosR Site builds fine for me. If you are still having trouble, please open a new issue.

[2016-05-06 16:06] XhmikosR opened #83 "Attempted Frozen Title Change"
@pathawks: I never said the site doesn't build. I said the Facebook debugger throws that error.

https://github.com/jekyll/jekyll-seo-tag/issues/10#issuecomment-217445889

[code]

I'm using the plugin as `{% seo title=false %}`. https://github.com/mpc-hc/mpc-hc.org/compare/jekyll-seo-tag

[2016-05-06 16:21] pathawks commented on #83
How can I recreate this error?

[2016-05-06 16:25] XhmikosR commented on #83
Not sure if there is any debugger which accepts HTML upload. If that worked you could copy the local HTML.

Otherwise, I can upload the files for a few min and see the report from https://developers.facebook.com/tools/debug/sharing/

[2016-05-06 17:28] pathawks commented on #82
Feels out of scope. Analytics is not SEO.

Perhaps not a bad idea for another micro plugin, but it feels to me like it would not belong _here_.

[2016-05-06 20:34] iloveip commented on #82
I guess this tag is generated by Google Analytics itself. I don't know why it put it inside Jekyll SEO tag. Sorry for the trouble and thank you very much for your help.

[2016-05-06 20:34] #82 closed

[2016-05-10 07:07] GarthDB opened #84 "Should be able to add image to Twitter card without it being a large image"
The standard [summary card](https://dev.twitter.com/cards/types/summary) has a `twitter:image` property as well.

It's nice to use it for the site logo on cards that don't have large images.

[2016-05-10 11:31] DirtyF commented on #84
@GarthDB @pathawks Should we support two different custom front matter variables `page.large_image` and `page. image` in order to allow this?

https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/template.html#L153

[2016-05-10 11:39] GarthDB commented on #84
I was thinking an image in the site config would be a nice default for standard summary cards, but a per post property might be good as well.

[2016-05-11 01:15] ryanseys opened #85 "Use image in post if metadata image not provided"
If I write a post that has an image declared in the body, it'd be nice for this plugin to just pull the first image right out of the post instead of having to declare an image in the metadata.

That might be beyond the scope of this plugin's functionality or be too complex to maintain, so feel free to reject and close, but figured it was worth mentioning and proposing.

Cheers!

[2016-05-12 00:45] tfe commented on #80
@neoascetic I'm in agreement on this and wanted to use it this way in my own project, so I made a branch to do it that way. Feel free to use it if you like: https://github.com/jekyll/jekyll-seo-tag/pull/87.

[2016-05-14 00:16] jaypeedevlin opened #88 "Add Config to Prevent Site Name from Being appended to Title"
It would be fantastic to have something in config that would prevent this.

Currently if `site.title` is absent it has a fallback to `site.name` - removing both breaks a lot of other functionality.

It would be great to be able to have the meta title tag be `post.title` without `- bar` on the end - is this possible to add?

(if only I had a better understanding of ruby I would fork and PR this mys

[2016-05-14 00:42] pathawks commented on #88
Are you referring to the `<title>` tag?

If so, you can [disable its output entirely](https://github.com/jekyll/jekyll-seo-tag#disabling-title-output) and specify your own `title` in your template 👍

[2016-05-14 00:53] jaypeedevlin commented on #88
Yes I am - I thought it might be nice to include an option to drop the appending - if there's not a view to do that I'll just use `title=false` as suggested and recreate the logic in my layout - thanks :)

[2016-05-14 00:53] #88 closed

[2016-05-14 20:37] XhmikosR commented on #83
Do you want me to upload the files from that branch to the live server to
see the issue?

Another thing I noticed is that the twitter author is set as the post
author. This isn't the case for me since we only have an organization
account. How can I override it in config without adding new properties in
each post?
On May 6, 2016 19:22, "Pat Hawks" <notifications@github.com> wrote:

[2016-05-18 01:16] ashchan commented on #68
As I understand Twitter Card, `summary_large_image` is for displaying a large image, while `summary` is for no image or thumbnail. When a page does have an image and wants to show that image as thumbnail for the card, it's not supported now.

Would anyone like to specify to use `summary_large_image` or `summary` so s/he can choose how the card is showing (I would like that feature)?

[2016-05-18 10:51] DirtyF commented on #68
@ashchan yep, we should support both, expect some PR soon : https://github.com/jekyll/jekyll-seo-tag/issues/84

[2016-05-19 00:43] ashchan commented on #68
@DirtyF That's awesome! Thanks!

[2016-05-19 08:13] daviddarnes opened #89 "JSON-LD Refinement"
Hi all. I've been recently working with Schema data in various formats and testing the results with the official [Structured Data Testing Tool](https://search.google.com/structured-data/testing-tool) from Google. After testing the jekyll-seo-tag gem on my GitHub Pages I noticed that a few errors are shown from the JSON-LD.

### TL;DR
Use the Google [Structured Data Testing Tool](https://search.goo

[2016-05-19 23:24] pathawks commented on #89
No apology necessary for making open source software better! :+1:

[code]

It looks like this is providing `publisher` information, and calling `logo` the logo of the publisher, rather than the logo of the website. I see that Google wants this to change:

I also see that Google requires `author`, `name`, and `publisher` for `BlogPosting`. I wonder if we should raise a warning if we are not able to

[2016-05-19 23:28] pathawks commented on #85
I think this is a good idea, but parsing the page content for an image tag is beyond the scope of this plugin, I think. If, however, there were an easy way for us to retrieve the first image in the page content, that might work.

My worry is that the _first_ image is not always the _best_ image, and I believe Facebook will allow user to select which image on the page should be used as a thumbnail

[2016-05-19 23:32] pathawks commented on #83
It seems like (from various unofficial sources) after a page has been public for some time or after it has a certain number of likes, Facebook freezes some of its info about the page and will not allow for any changes. If _that_ is what you are running into, I am not sure there is anything that we can do to fix that.

That's a separate issue.

[2016-05-19 23:35] pathawks commented on #81
Right now, the readme states:

Perhaps we could be more clear?

I don't think it is possible for the plugin to output different attributes depending on the `seo.type` of the page, so what is the next best solution?

[2016-05-19 23:38] pathawks commented on #17
github/pages-gem#289 :tada:

I will work on adding proper Smartypants support when I have some time, if we are ok dropping support for Jekyll 3.0.

[2016-05-20 08:14] daviddarnes commented on #89
@pathawks I think this would be a wise move, but a suppressed warning as this stuff isn't going to upset anyone 😄 .

Would it be wise to propose that the `Org > name` be `{{ site.title }}`, and then provide a way to overwrite it with `{{ site.org }}`?

[2016-05-20 10:17] XhmikosR commented on #83
I'm gonna give it another go later today or tomorrow and let you know.

Do you have any link for what you said above about FB freezing the title?

[2016-05-20 14:13] XhmikosR opened #91 "The property logo is not recognized by Google for an object of type WebSite"
https://search.google.com/structured-data/testing-tool#url=https%3A%2F%2Fjekyllrb.com%2F

[code]

[2016-05-20 14:35] benbalter commented on #17
GitHub Pages should upgrade to Jekyll 3.1 on Monday, and am 👍  dropping pre 3.1 support after that.

[2016-05-20 14:36] benbalter commented on #85
There also may be performance concerns, if e.g., we're regexing over several hundred posts.

[2016-05-23 09:53] nzcage commented on #91
If it's about AMP, AMP has it's on value in google structure data tool. Otherwise, this might  help you:
https://productforums.google.com/forum/#!topic/webmasters/zBUGR_AuJKY

[2016-05-23 11:52] XhmikosR commented on #91
@nzcage: this isn't AMP. It's Jekyll's own website.

The problem arises with the default type which is Website, which doesn't support the logo property.

So, maybe it would be better to not output logo here.

[2016-05-27 11:24] KuoE0 commented on #89
I found "image" property must be an object. But now, `jekyll-seo-tag` only puts the url of the image.

[code]

[2016-05-27 12:03] daviddarnes commented on #89
@KuoE0 yea, slightly annoying that Google won't accept a simple image url and that they request image dimensions (something that we can't automate)

[2016-05-27 15:42] BenjaminAbt opened #92 "gsub undefined error if title is a number"
If I add `{% seo %}` to the head I get this error

[code]

[2016-05-27 16:13] pathawks commented on #92
Is your site source public? I’d like to try to recreate this.

[2016-05-27 16:35] BenjaminAbt commented on #92
@pathawks not at this point of time. I'll create a test repo

[2016-05-27 16:42] BenjaminAbt commented on #92
@pathawks problem found. I already have a `404.md` in my root folder. After removing this file it works.

[2016-05-27 21:27] pathawks commented on #92
I cannot recreate this issue. I wish I could, I'd like to get to the bottom of it.

[2016-05-28 08:24] KuoE0 commented on #89
Maybe let user set the dimensions by themselves in posts?

[2016-05-28 13:23] daviddarnes commented on #89
@KuoE0 yes, I thought the same. Great idea

[2016-05-28 18:09] #80 closed

[2016-05-28 18:19] BenjaminAbt commented on #92
I create a repository for u.

[2016-05-28 19:33] BenjaminAbt commented on #92
@pathawks here is the sample https://github.com/BenjaminAbt/Jekyll-SEO-gsub-404-error
I have removed all related content but same error all the way.

[2016-05-28 19:53] pathawks commented on #92
a-**HA!**

[code]

`page.title` is an _integer_ rather than a string, and integers have no `gsub` method.

The quick fix for you is to put quotes around the title:

[code]

The correct fix is for us to make sure we use `to_s` where appropriate. Now I just need to figure out where this is happening...

[2016-05-28 20:01] pathawks commented on #92
It appears that when `markdownify` is called on an integer, things break.

I'll kick this upstream.

[2016-05-28 20:01] #92 closed

[2016-05-28 20:17] pathawks commented on #92
jekyll/jekyll#4958

[2016-05-29 02:19] pathawks commented on #83
http://stackoverflow.com/a/26252936

[2016-05-29 07:44] XhmikosR commented on #83
All right, thanks. I'm gonna close this and try to contact them when I make the switch to jekyll-seo-tag.

[2016-05-29 07:44] #83 closed

[2016-05-29 16:51] #17 closed

[2016-06-12 07:52] matthewgraybosch opened #94 "Integration with jekyll-assets?"
Do you have any plans to provide integration with [jekyll-assets](https://github.com/jekyll/jekyll-assets) so that if somebody's using that gem with jekyll-seo-tag, they can specify the name of an image in "site.logo" or "page.image" and have everything "just work"?

[2016-06-13 14:03] benbalter commented on #94
Can you elaborate a bit more as to what that would look like? What can't you do now? What problem are you hoping to solve?

[2016-06-19 15:14] renshuki opened #95 "Define image (og:image) globally in _config.yml or layouts"
Hi,
Actually **image:** need to be specified in a (post/page/document) YAML front matter. It would be nice if this parameter could be added globally to the `_config.yml` file (with the possibility to overwrite it afterwards via YAML front matter if needed).

[2016-06-19 15:20] renshuki opened #96 "Add meta name="author""
It seems:
`<meta name="author" content="">`
is not added even if an author is specified in YAML front matter of a post/page/document.

Maybe useful to add?

[2016-06-20 01:21] pathawks commented on #95
The good news is Jekyll already supports this :+1:

See [Front Matter defaults](https://jekyllrb.com/docs/configuration/#front-matter-defaults)

[2016-06-20 01:21] #95 closed

[2016-06-21 15:43] renshuki commented on #95
OK my bad... Thank you for the help! ;)

[2016-06-25 10:39] alessiofx commented on #89
For resolve this problem if possible disable only son-dl

[2016-07-06 17:42] ehaselwanter opened #97 "Document how to use front matter defaults"
is it possible to set a default image for the `image:` frontmatter? would be great to be able to set a default (or you might call it fallback) setting for images. It just does not feel right to add the same image to all posts/articles

using

[code]

does not change any page at the moment

[2016-07-06 17:45] benbalter commented on #97
Yes. You should be able to set this via [front matter defaults](https://jekyllrb.com/docs/configuration/#front-matter-defaults)

[2016-07-06 20:06] pathawks commented on #97
Same question was asked in #95. Perhaps we need to do a better job of documenting this.

[2016-07-07 07:03] ehaselwanter commented on #97
@benbalter / @pathawks thank you so much. :-)

[2016-07-08 18:38] pathawks commented on #96
Do you have any information on how this tag would be used (ie: by search engines)?

[2016-07-08 18:40] pathawks commented on #91
Duplicate of #89

[2016-07-08 18:40] #91 closed

[2016-07-08 19:06] benbalter commented on #96
FWIW, there's also `rel=author` which Google uses for Google+ profile association.

[2016-07-08 19:13] benbalter commented on #96
Guess not. Good find.

[2016-07-09 15:50] stereobooster opened #99 "idea: SEO/SMO linter"
Imagine linter for checking SEO/SMO tags in frontmatter.
Something like:

[code]

[2016-07-09 17:26] pathawks commented on #99
Is `jekyll doctor` plugable? I like this idea, just not on every build 👍🏼

[2016-07-09 18:33] benbalter opened #100 "Support "robots" field in YAML front matter"
The idea being that if the field `robots` exists in a document's YAML front matter, we'd put the contents in the head meta, e.g., `robots: noindex, nofollow`. Obviously, if it wasn't there, we wouldn't do anything.

[2016-07-09 18:34] benbalter commented on #99
See https://github.com/jekyll/jekyll-seo-tag#what-it-doesnt-do.

[2016-07-10 16:37] stereobooster commented on #99
I started project [jekyll-seo-lint](https://github.com/stereobooster/jekyll-seo-lint), which is not working yet, and not sure how long it will take (no promises here).

### Here is how I see jekyll SEO/SMO ecosystem

[jekyll-seo-tag](https://github.com/jekyll/jekyll-seo-tag) - Jekyll plugin to add metadata tags for search engines and social networks to better index and display your site's content.

[2016-07-10 16:37] #99 closed

[2016-07-10 17:13] pathawks commented on #99
I agree that any SEO advice is out of scope for this plugin. I was thinking of this only as a sanity check to make sure that any required properties were provided.

[2016-07-16 06:13] penyadap opened #101 "The name of the site pages without the site name"
How do I set up a site with a title tag seo Jekyll without including the name of the site

Titla page of my site - mysite.com

for which no title include mysite.com

[2016-07-18 15:06] benbalter commented on #101
You can [disable the title output](https://github.com/jekyll/jekyll-seo-tag#disabling-title-output) and render the title yourself.

[2016-07-18 15:18] penyadap commented on #101
oke, thankss ben
Very Helpful..

[2016-07-18 16:24] #101 closed

[2016-07-29 08:27] renshuki commented on #96
Well, it's mostly used by Facebook when you share a blog article (By: author_name).

See below:
![image](https://cloud.githubusercontent.com/assets/7076736/17242355/ac229fc0-55b1-11e6-8ca3-7173fe650a52.png)

[2016-07-29 09:21] CGarces commented on #96
I have used https://developers.facebook.com/tools/debug/ to test the author tags.

My pages use a variation of the jekyll-seo-tag and contains:

- Author and publisher at ld+json
- Meta property="article:publisher"
- Also one <a rel="author" >

Facebook debug tool not show the author in the preview.

After add `<meta name="author" content="">` the author is show in the preview..

[2016-07-29 12:52] benbalter commented on #96
Simple enough to add, if anyone is interested in submitting a pull request.

[2016-07-29 13:54] DirtyF commented on #96
@CGarces can you try with `<meta property="article:author" content="" />` and tell me if it works?  I noticed that SEO blogs use rather this meta.

[2016-07-29 16:34] CGarces commented on #96
Hi @DirtyF
According to my results at https://developers.facebook.com/tools/debug/
`<meta property="article:author" content="" />` not is recognised by Facebook.

[2016-07-31 09:29] gmile opened #102 "Support for article:modified_time"
Is it possible to add support for [article:modified_time](http://ogp.me/#no_vertical)? This would probably require jekyll itself to support housekeeping of post modification dates?

[2016-07-31 17:09] pathawks commented on #102
We could, like **jekyll-sitemap**, rely on **jekyll-last-modified-at** to provide the information.
How do other sites (Facebook, Twitter, etc) use this info?

[2016-08-01 10:55] gmile commented on #102
@pathawks to be honest I don't know.

I do see this meta tag in http://ogp.me, so I _think_ it must be used by Facebook somehow. I asked on stackoverflow and ogp mailing list for evidence of real world usage by Facebook, but got no answer so far.

The reason I opened this issue is because I'm writing a program scrapes blog posts over the internet. Quite a few of wordpress / joomla blogs have this

[2016-08-01 21:38] k-funk opened #104 "<meta name="twitter:title"> not included"
According to the [Twitter Docs](https://dev.twitter.com/cards/types/summary) there should be a `<meta name="twitter:title">` tag, but I don't see that tag anywhere in the source where I'd [expect to see it](https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/template.html#L151), nor in the output.

[2016-08-01 21:43] k-funk opened #105 "Feature request/suggestion: <meta name="twitter:image"> default image"
I'd like to have <meta name="twitter:image"> default to something in the case that I don't include one on the `page.image`. Maybe this is the `site.logo`, or an additional parameter: `site.twitter.default_image`. Thoughts?

[2016-08-01 21:51] benbalter commented on #104
See https://github.com/jekyll/jekyll-seo-tag/pull/65, specifically https://dev.twitter.com/cards/getting-started#opengraph.

[2016-08-01 21:51] benbalter commented on #105
You can do this via front matter defaults. See https://jekyllrb.com/docs/configuration/#front-matter-defaults.

[2016-08-01 22:42] k-funk commented on #104
Great! Thanks for the quick response!

[2016-08-01 22:42] #104 closed

[2016-08-02 01:21] k-funk commented on #105
Didn't think about this as a solution, thanks for the tip. I'll use that for now. However, I'd prefer to have default images for each social media (twitter, fb, etc). It's hard to predict how they will display the image, so I'd rather have control over which one is used.

[2016-08-02 14:09] benbalter commented on #105
You can do that as well, also via frontmatter defaults. See https://github.com/jekyll/jekyll-seo-tag#customizing-image-output.

[2016-08-02 18:48] #105 closed

[2016-08-05 17:01] mlibre opened #107 "Is it okey that title will be added with description and then write in <title> tag?"
I just install plugin and i notice that in rendered(output) `index.html`, in <title> tag, title content was added with `description` variable content with a '-', and placed in <title> tag. is it okey? why?

[2016-08-05 19:51] pathawks commented on #107
I'm not sure I understand your question. Are you unhappy with how the title tag is rendered? Would you rather it not include the site description?

You can set the `title` key in a page YAML to be used as the `<title>` instead of the default site name and description.

[2016-08-05 22:26] mlibre commented on #107
ok. thanks.
just for more clear. here is my `_config.yml`:
[code]
And i set {% seo %} in `index.html`'s <head> tag. and it's my rendered title:
[code]
i fix it by `{% seo title=false %}` and set title with other way. i just interested that is it okey?! or something is wrong. BTW thanks.

[2016-08-06 01:01] k-funk opened #108 "Leveraging new (jekyll 3) `layout` metadata when `page` front-matter not present"
Sometimes I use layout front-matter/metadata instead of page front-matter when I have multiple pages that have mostly the same content. However, since Jekyll 3 no longer merges the layout metadata with page front-matter, `title` and `description` on a layout don't get populated by jekyll seo tag. What do you think about:

[code]

For context, I create api docs with urls/pages like:
`/docs/api/ruby

[2016-08-06 01:55] pathawks commented on #108
Could you describe the problem you are having in a bit more detail?

Google [specifically recommends against boilerplate titles](https://support.google.com/webmasters/answer/35624?hl=en#3), so I am initially opposed to this idea, but maybe I am just not fully understanding the problem you are trying to solve. Can you give some examples of what you would expect the `<title>` to be on some of the UR

[2016-08-06 04:35] k-funk commented on #108
I s'pose the "problem" is mostly that of having the same content in multiple places, and that doesn't feel very DRY. `Ruby API Docs`, `Python API Docs`... may be what I go with, but in my mind they are all the same page with a different context. The only thing that is different within the page is the code samples.

When I've worked with web applications in the past, I've used the query params (`/d

[2016-08-08 14:22] benbalter commented on #108
If the metadata isn't about the *layout* itself (e.g., `sidebar: blue`), but is an abstraction of the page metadata, perhaps [front matter defaults](https://jekyllrb.com/docs/configuration/#front-matter-defaults) would be a better fit?

[2016-08-08 14:23] benbalter commented on #107
This is the intended behavior. On my site for example, the title of the home page is `<title>Ben Balter - Attorney, open source developer, product manager</title>`, rather than say, `Home - Ben Balter`. The idea being that you want those descriptive keywords in the title of your homepage so that searches for, e.g., "Balter open source" would be more likely to return the home page.

[2016-08-08 18:03] k-funk commented on #108
Perhaps so. Just feels like my config file is getting a little crowded, and prefer to have as much data in the layout/pages as possible.

[2016-08-08 18:03] #108 closed

[2016-08-09 17:27] mlibre commented on #107
i got it. thanks

[2016-08-09 17:27] #107 closed

[2016-08-13 15:52] abeMedia commented on #94
I assume he means that the image is then loaded from the assets pipeline (e.g. sprockets).

[2016-08-13 16:04] abeMedia opened #110 "Setting type has no effect on og:type"
I know we can't simply use the same type string for opengraph and schema, however there's a fair few that are the same so how about some logic which references the possible types from https://developers.facebook.com/docs/reference/opengraph/ and if unsuccessful we default back to "article".

I'm happy to submit a PR at some point if this is something you'd consider.

[2016-08-14 01:33] pathawks commented on #110
All of our data is kind of based on a set of assumptions that the content will have a headline, author, published date, etc. One problem that we have run into is that not all types support these attributes. Just because OGP and Schema both support the same type doesn't mean that those types make sense to add to this plugin.

With this in mind, the more types we add, the more difficulty we could ha

[2016-08-15 13:39] benbalter commented on #110
👍 ✨

[2016-08-16 11:15] penyadap opened #111 "how to add dateModfied in ld-json (jekyll)"
"**datePublished**": "2016-04-06T15:40:56+00:00",

and added , DateModified in jekyll seo tag

"**dateModified"**: "2016-04-06T15:40:56+00:00",

Thanks:)

[2016-08-16 12:09] abeMedia commented on #110
That's fair enough! Would you consider adding an `og` option to set this manually from the page's front-matter like in the following example?
[code]
resulting in
[code]

Alternatively how about an option to disable opengraph tags to be able to use this alongside a more comprehensive opengraph plugin?

[2016-08-16 14:37] benbalter commented on #110
Is https://github.com/jekyll/jekyll-seo-tag#customizing-json-ld-output what you're looking for?

[2016-08-16 15:30] abeMedia commented on #110
Hey @benbalter, not really, I'm trying to customise opengraph meta tags. The issue I'm facing is that this plugin creates some but doesn't allow customisation of them so if I write my own plugin to handle opengraph tags I'm forced to stop using jekyll-seo-tag.

[2016-08-16 15:44] benbalter commented on #110
Gotcha. Could that setting also be used to set the open graph tags? Would you ever want them to differ?

[2016-08-16 16:20] pathawks commented on #110
@abeMedia Maybe it would help if you could provide a very specific use case that you have. What exactly are you looking for? How would you like the output to look?

[2016-08-16 16:55] abeMedia commented on #110
Literally what I wrote in my example. I want the og:type to be "product" on my product pages.

[2016-08-16 17:09] pathawks commented on #110
I guess I was hoping for a bit more information regarding the rest of the tags, how this would affect the Schema.org tags, etc.

The problem is that [**product** requires its own unique properties](https://developers.facebook.com/docs/reference/opengraph/object-type/product/#properties) and is not compatible with some of the properties we are already using (ie: [`published_time`](https://github.co

[2016-08-16 18:02] abeMedia commented on #110
I see your point... I just thought with the paginator links and getting the author's twitter etc. it still adds value. I guess I could just make my own fork though.

[2016-08-19 13:35] tomasparks opened #113 "Liquid syntax error (line 102): Unknown tag 'seo'"
[code]

gemfile:
`gem 'jekyll-seo-tag'`

_config.yml
[code]

Using jekyll-seo-tag 2.0.0

[2016-08-19 13:51] benbalter commented on #113
@tomasparks can you rebuild your site with the `--verbose` flag? Do you, by chance, have two `gems` keys in your config file? I suspect the plugin isn't being loaded.

[2016-08-19 14:07] DirtyF commented on #113
@tomasparks  you have indeed many gems keys in [your config file](https://github.com/tomasparks/website/blob/master/_config.yml#L12), that you can simply list under the same `gems` key:

[code]

[2016-08-20 01:55] tomasparks commented on #113
@DirtyF
that solved my issue :)

[2016-08-20 01:55] #113 closed

[2016-08-21 13:05] yonglas opened #114 "jekyll-seo-tag load error"
I am getting this message ("plugin_manager.rb:28:in `require': cannot load such file -- jekyll-seo-tag (LoadError)") when trying to build website.
the plugin is install as you can see here:
![image](https://cloud.githubusercontent.com/assets/1401159/17837306/d0b3560e-67b8-11e6-8ceb-97c3f6a9bfbc.png)

in config.yml i added this :
gems:
  - jekyll-seo-tag

can you assistance ?

[2016-08-21 14:16] pathawks commented on #114
Is your site's source public?

What does the error message look like?

[2016-08-21 14:33] yonglas commented on #114
ubuntu@ip-172-31-13-111:~/aa210816/getcloudify.org$ jekyll serve -w
Configuration file: /home/ubuntu/aa210816/getcloudify.org/_config.yml
/home/ubuntu/.rvm/rubies/ruby-2.2.0/lib/ruby/2.2.0/x86_64-linux/continuation.so: warning: callcc is obsolete; use Fiber instead
/home/ubuntu/.rvm/gems/ruby-2.2.0/gems/jekyll-2.4.0/lib/jekyll/plugin_manager.rb:28:in `require': **cannot load such file -- jekyll-se

[2016-08-21 20:06] benbalter commented on #114
have you tried `bundle exec jekyll serve`?

[2016-08-24 01:45] sudopluto opened #115 "{% seo %} in readme needs to be {{ seo}}"
the build fails otherwise

[2016-08-24 01:57] pathawks commented on #115
Can you provide a bit more detail about the problem you are experiencing?

[2016-08-24 02:04] sudopluto commented on #115
After taking a glance at the page source it seems that using {{seo}} allows the page to build but the seo tags aren't added

with {% seo %}
![image](https://cloud.githubusercontent.com/assets/9754192/17916015/803830a2-697d-11e6-99cb-24837bb8769f.png)

[2016-08-24 02:08] sudopluto commented on #115
nevermind it was missing in my _config.yml, sorry for wasting time

[2016-08-24 02:08] #115 closed

[2016-08-24 02:26] pathawks commented on #115
Glad you got it all sorted :+1:

[2016-08-25 11:18] AleksejDix opened #116 "Customize canonical url"
hi what is the variable for customization in the fronmatter.
[code]

[2016-08-25 21:18] s-knibbs opened #117 "SEO description strips newlines from the page excerpt"
The `strip_newlines` filter is applied to the the `seo_description` variable. If the first paragraph in the page contains a newline (e.g. to manually wrap a long line in the markdown) this mangles the text.

Would it be possible to replace newlines with a space instead?

[2016-08-25 23:53] mderriey commented on #84
I've just started using `jekyll-seo-tag` and it's great, thank you so much for that!

The best option for me would be to be able to choose on a per-post basis whether to use a standard `summary` card or a `summary_large_image` card.

If that's too hard, then @GarthDB's suggestion looks good, too.
I understand it this way:

 - if an image is specified for the post, use a `summary_large_image` card

[2016-08-30 23:49] k-funk opened #118 "CDN Support"
My current build assumes that urls that point to assets are relative URLS, and in the last step, prepends my cdn's domain. However, jekyll-seo-tag prepends site.url even thought I don't want it to.

I understand that some tags need the full url (`og:image`, `ld+json:url`), so I can't just remove `site.url` from my config (besides, other plugins expect it to be there).

Current output:
`<meta prope

[2016-08-31 00:41] benbalter commented on #118
Depending on how complex it is to implement, it may make sense to support both absolute and relative URLs, appending `seo_url` to relative URLs and passing absolute URLs as if (if they begin with `https?://` or not.

[2016-08-31 13:52] pathawks commented on #118
[We do!](https://github.com/jekyll/jekyll-seo-tag/blob/v2.0.0/lib/template.html#L97-L99) :+1:

[2016-09-03 17:25] danmindru commented on #107
Hi there,

Would you consider adding an option to disable this behaviour?

According to general SEO guidelines:
- the title should be between 50-60 characters
- the description should be between 150-160 characters

My point is, it's rare that title stays within the 50-60 limit with the appended description.

[2016-09-14 13:03] mike-ward opened #120 "Allow title to be overridden at the page level"
On landing pages, I like the titles to be a bit different. Example:

Currently, my landing page reads:

`The Markdown Editor for Windows - Markdown Edit`

I would prefer

`Markdown Edit - The Markdown Editor for Windows`

But I do like the current behavior for other pages like blog articles:

`title - Markdown Edit`

Suggestion: Allow override at the page level using front matter?

[code]

Also co

[2016-09-15 14:06] benbalter commented on #120
@mike-ward to confirm, your site's title is "markdown edit" and your site's description is "the markdown editor for windows". You'd like the main page's title to be `[site title] - [site description]` (the current behavior), and you'd like all other pages to be `[page title] - [site description]`, is that correct?

The current behavior is purposeful, in that for SEO purposes, you want the site tit

[2016-09-15 17:29] mike-ward commented on #120
Almost. What I'm suggesting is simpler. Just allow overriding the title and description without any additional interpretation / concatenation. Most of the time the plugin's default behavior is fine. It's just in a few instances that I want to change it.

[2016-09-15 17:37] benbalter commented on #120
Can you explain a bit more about those instances and why you want to change it?

[2016-09-15 17:41] mike-ward commented on #120
Currently, my landing page for http://markdown.com reads:

`The Markdown Editor for Windows - Markdown Edit`

I want it read

`Markdown Edit - The Markdown Editor for Windows`

[2016-09-15 17:45] benbalter commented on #120
You should set your `site.title` to "Markdown Edit", and `site.description` to "The Markdown Editor for Windows", and ensure that your index page has no title. That behavior should then be automatic.

[2016-09-15 18:12] mike-ward commented on #120
That won't work for me. I want the site.description to read as follows:

description:      A full-featured Markdown editor for Windows with an emphasis on content and keyboard shortcuts

[2016-09-26 12:15] yeshess commented on #114
thanks so much, @benbalter! that did the trick.

[2016-09-26 13:21] #114 closed

[2016-09-30 07:53] manuth opened #121 "Allow customization of the title-separator"
Hey guys
Currently the `{{ page.title }}`-Property and the `{{ site.title }}`-Property inside the `<title>`-Tag are allways separated with an `-`-Character.
Could you implement a way to customize the separator to use?
I'd, for example, like to use an `·` instead of an `-`

Best regards an' thanks in advance

[2016-09-30 13:21] benbalter commented on #121
Can you explain a bit more *why* you'd like to change it? Just personal preference?

I'm generally 👎  to adding options for arbitrary decisions. Every option we add raises the cognitive overhead necessary to use the plugin. We should be absorbing that complexity on behalf of users.

[2016-10-01 21:38] daviddarnes commented on #84
I've noticed this issue has been open for a while. For anyone looking for a workable, yet awful, workaround you can do the following:

[code]

[2016-10-04 18:55] benbalter commented on #84
Could the folks on the thread advocating for the feature describe their use case a bit more? When would you provide an image and not want it large? Is it just a matter of personal preference? Is it because you're setting a default image on all pages? What's the downside to the image being large in all cases, etc.?

[2016-10-04 20:03] mderriey commented on #84
For me, I'd like a large image when I have a specific image for a specific post. If I don't have one, I feel like a small image with the site logo is enough.

[2016-10-04 20:26] daviddarnes commented on #84
In my case I'm using it for my personal site, and the Twitter card image is my profile picture. So I encounter 2 main problems:

- My face appears huge when I post my site to Twitter
- The large summary image is landscape and therefore crops a square profile picture quite badly

The 'regular' summary image card for Twitter is better designed for square images without much detail, so having the opt

[2016-10-05 18:42] GarthDB commented on #84
Some screenshots might help this discussion:

Here's the standard image:
![image](https://cloud.githubusercontent.com/assets/125516/19126593/c563c7a8-8af8-11e6-9044-d91f11780a26.png)

Here's the large image:
![image](https://cloud.githubusercontent.com/assets/125516/19126620/de75a716-8af8-11e6-96b9-2004c22d1b32.png)

Twitter's description of the large image card is: The Summary Card with Large Ima

[2016-10-06 20:21] benbalter opened #122 "Update template to use new `aboslute_url` and `relative_url` filters"
So that we can DRY things up a bit. @pathawks since you're quickly becoming the resident expert, any interest?

[2016-10-06 21:03] pathawks commented on #122
Easy as #123

[2016-10-06 21:14] #122 closed

[2016-10-15 01:57] #118 closed

[2016-10-15 01:59] pathawks commented on #116
The canonical URL is built from the permalink and `site.url` and `site.baseurl`

[2016-10-15 01:59] #116 closed

[2016-10-15 02:01] #81 closed

[2016-10-15 02:06] pathawks commented on #85
This feels related to #5476

*If* we start detecting titles based on post contents, we should do the same for images :+1:

[2016-10-15 02:45] XhmikosR commented on #81
Why was this closed? Was it resolved?

On Sat, Oct 15, 2016 at 5:01 AM, Pat Hawks <notifications@github.com> wrote:

[2016-10-15 02:50] pathawks commented on #81
It doesn't seem like any action is necessary. Readme addresses this already.

[2016-10-15 02:50] XhmikosR commented on #81
How does it do that? Using the defaults for the plugin results in invalid
markup.

On Sat, Oct 15, 2016 at 5:50 AM, Pat Hawks <notifications@github.com> wrote:

[2016-10-19 23:54] pathawks commented on #100
If we don't want search engines to index a page, we also need to make sure that page is excluded from the sitemap.

We could coordinate with **jekyll-sitemap** to add something like this, _or_ we could add the `robots` meta tag if we detect `sitemap: false` in the front matter. Work with what is already in place.
?

[2016-10-20 00:20] pathawks commented on #69
It looks like we are already only [conditionally outputting description tags](https://github.com/jekyll/jekyll-seo-tag/blob/v2.0.0/lib/template.html#L111-L114). Is there something more we need to do?

[2016-10-20 15:38] benbalter commented on #69
I meant this more as documents *should* have descriptions, but I suspect that's properly attributed as an upstream issue?

[2016-10-20 15:39] #117 closed

[2016-10-20 15:40] benbalter opened #128 "Add Jekyllbot to this repo"

[2016-10-20 15:43] benbalter commented on #100
Hm... do you happen to know anybody there? :smile:

@parkr would call this "magic". We're doing more than the user is asking for (which could lead to confusion).

Perhaps a third option, a new flag, call it say, `indexed` or maybe just `robots: false` which both this and the sitemap would use?

[2016-10-20 15:43] pathawks commented on #128
Should have been added yesterday; it marked several old issues as stale :+1:

[2016-10-20 15:44] benbalter commented on #97
Anyone interested in putting together a PR to the README to add an example of how to set a front matter default?

[2016-10-20 15:46] benbalter commented on #94
I'd be glad to review a PR to add this feature, assuming it doesn't overly complicate the (otherwise-simple) plugin, but don't have a need for it myself.

[2016-10-20 15:47] benbalter commented on #89
Any next steps here? Any specific changes we can make to move in the right direction, even if not 100% perfect?

[2016-10-20 15:48] pathawks commented on #100
`index` Sounds best to me.
Do you want search engines to add this page to their index? Yes or no?

Unless `index` is already being used some where, ie: to denote that a page is an index of several posts.

[2016-10-20 16:42] parkr commented on #128
Looks like this repo doesn't have the right teams associated with it.

[2016-10-20 16:45] parkr commented on #128
@benbalter I can `@jekyll/plugin-core` write access to this repo.

The way the merge works is that it grabs the teams for the organization, then iterates through them and only allows you to merge if (1) you belong to one of the teams and (2) that team has push access to the repo.

[2016-10-20 17:03] benbalter commented on #100
That's what I was fearing, that there'd be a namespace conflict.

[2016-10-20 17:29] parkr commented on #100
What is a use-case where you'd set `sitemap: false` but want `robots: true` to be there?

[2016-10-20 17:29] parkr commented on #128
@benbalter or @pathawks, both of you are in that team, so if either of you can merge, then we're good. 👍

[2016-10-20 17:30] abeMedia commented on #94
It's pretty straightforward really... I don't mind submitting a PR if I get the time over the weekend.

[2016-10-20 18:45] sarbbottam opened #129 "corrupted seo descriptions"
probably due to

[code]

at [jekyll-seo-tag/lib/template.html#L50](https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/template.html#L50)

Adding `normalize_whitespace` filter should resolve the issue.

Related issue https://github.com/jekyll/jekyll/issues/4877

[2016-10-20 18:47] pathawks commented on #129
Fixed in #126

Will try to cut a new :gem: for you soon :+1:

[2016-10-20 18:47] #129 closed

[2016-10-20 18:48] sarbbottam commented on #129
Awesome looking forward to it. Thanks!

[2016-10-21 21:33] sarbbottam commented on #129
@pathawks @benbalter could you please release the next version with the fix? Please let me know if I can be of any help. Thanks!

[2016-10-21 22:12] DirtyF commented on #129
@sarbbottam in the meantime you can point the gem source to the git repository in your Gemfile:

`gem 'jekyll-seo-tag', :git => 'https://github.com/jekyll/jekyll-seo-tag.git'`

[2016-10-22 02:18] sarbbottam commented on #129
Thanks @DirtyF.

[2016-10-22 04:22] pathawks commented on #129
@benbalter It looks like you're the only one with permission to cut a gem for [jekyll-seo-tag](https://rubygems.org/gems/jekyll-seo-tag/). Would you mind adding me and probably also @parkr?

[2016-10-23 05:18] sarbbottam opened #130 "Can image information _config.yml be utilized if not present in front matter?"
---

`title`, `description`, `author` if not present in YAML front matter, fallbacks to information available in `_config.yml`.

Wondering, if `image`  can/should be treated in the same way?

[2016-10-23 13:42] DirtyF commented on #130
@sarbbottam You can specify a default image in your config file like this:

[code]

[2016-10-23 13:50] pathawks commented on #130
/cc #97

[2016-10-23 16:18] #97 closed

[2016-10-23 18:27] daviddarnes commented on #89
I've done some testing and it appears that this is the minimum required for a logo to be included:
[code]
We don't need image dimensions, nor a name for the logo. I suggest for a first run we include the above. This will mean sites will pass validation for structured data without the need for adding all the other options.

Note that publisher type is hard coded to `Organization`, this is because i

[2016-10-23 18:35] pathawks commented on #89
That is becoming my favorite phrase! I would love to review a PR for this :heart:

[2016-10-23 19:27] daviddarnes commented on #89
@pathawks woop thanks! PR made, travis fail though 😢

[2016-10-23 20:49] #89 closed

[2016-10-24 02:06] pathawks opened #134 "post.thumbnail"
For Blogger, **jekyll-import** [importing post images as `post.thumbnail`](https://github.com/jekyll/jekyll-import/blob/c947f5dff599319e39597d757dc39c95be4ecf96/lib/jekyll-import/importers/blogger.rb#L264).

**jekyll-seo-tag** expects post images [to be called `post.image`](https://github.com/jekyll/jekyll-seo-tag/blob/d999dc0a7e5238cdb6aef8f7af46ff7e9e0bec56/lib/template.html#L92)

Is it better t

[2016-10-24 15:20] benbalter commented on #134
I'd imagine folks have already imported, so it wouldn't do *too* much good to update. I'd imagine it'd be easy enough to do `post.thumbnail | default: post.image`? Any reason not to?

[2016-10-25 17:11] queso opened #135 "Make json-ld optional"
The json-ld seems to have very limited options built in. I like this package/plugin and would love to keep using it, but I want to turn off the json-ld output if I need to. It seems https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/template.html#L179 just rolls straight in and ouputs the code.

Perhaps we could just add an easy check to make sure page.seo exists before we output the code? T

[2016-10-25 17:41] queso commented on #135
For those reading this issue, it looks like Google will add data from microdata and json-ld, so I was able to add html markup to at least get an on page product working. Would still love a way to turn off json-ld so I can override with specific customizations down the road.

I like the other meta tags such as the social stuff, so I don't want to just pull out the seo tag all together, either.

[2016-10-25 18:04] queso opened #136 "Json-ld issues with headline"
Not all JSON-ld types can accept a headline, for example the 'Person' type. In particular, I am trying to build a Person json-ld object on an about page with links to other social sites...

It seems like https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/template.html#L192 could be additionally wrapped with an if statement to detect if it is an about page? Or we could alternately just set he

[2016-10-25 21:12] DirtyF commented on #135
Could you provide some concrete examples, maybe we can enhance the current JSON-LD?

[2016-10-25 21:15] queso commented on #135
Sure, I guess so, this is all just part of google's documentation on JSON-LD...

Here is an example of json-ld for describing a product:
[code]

My goal is to have that outputted on this page, which has a book for sale on it: http://wendyowensbooks.com/books/burning-destiny. The idea is that Google can pick up the output for things like price, reviews, etc and show it in the search results.

[2016-10-25 21:17] queso commented on #136
Here is an example of a Person type JSON-LD object:

[code]

If you use the schema testing tool, it will actually give an error if the JSON-LD contains a headline: https://search.google.com/structured-data/testing-tool.

[2016-10-25 21:18] queso commented on #135
I feel like this is a lot of structure to add if statements around and it might just be easier to add an on/off switch for my particular use-case. I just really still want the other meta tags to work on the books page, but I can provide my own json-ld structure.

[2016-10-25 22:00] benbalter commented on #136
Makes sense. We could use logic similar to https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/template.html#L4.

[2016-10-25 22:14] benbalter commented on #135
My initial reaction was that we should be building for the vast majority of users, and that vast majority doesn't need such granular control. That would support the case for saying "sorry, we don't support that use case, but I can see value in the rest of the plugin's output (much of which you'd have to recreate with your own template logic), if we added a `json=false` argument, similar to what we

[2016-10-25 22:40] queso commented on #135
So I like the idea, I'm just not sure I follow what you mean by

Would I have to include that into a layout or page to make it kick in? If so, that sounds great.

[2016-10-25 22:48] benbalter commented on #135
@queso what I'm proposing, is that if you wanted to change the JSON-LD output of the plugin, you'd create a `_includes/jekyll-seo-tag/json-ld.json` file, and put the content there. We'd pass documented variables like `seo_title`, and `page` and you'd put any content you wanted there.

[2016-10-26 14:44] iBobik opened #137 "Turn off canonical"
`<link rel="canonical" href="http://localhost:4000/">`

It is needed only if there is duplicate content. If not it is useless.

I propose to add option to not generate canonical link to be configured globally in _config.yml and overridable in front matter.

[2016-10-26 15:18] queso commented on #135
I see, seems good enough to me, because I would have to build the markup on my own anyway if I turned it off.

[2016-10-26 15:39] benbalter commented on #137
When would you *not* want it?

[2016-10-26 16:03] iBobik commented on #137
Always when not needed.

Jan Pobořil
http://honza.poboril.cz/

26. 10. 2016 v 17:39, Ben Balter <notifications@github.com>:

[2016-10-26 17:39] pathawks commented on #137
There are so many instances where a site might be serving “duplicate content” without realizing it. For instance, if a site is available over HTTP and HTTPS, or with and without WWW. Sometimes a referring site will append some query to the URL which can confuse search engines.

This is such an important tag, and there is never a time when a site whould need it to be _not_ present.

I'm :-1: on thi

[2016-10-27 15:33] pathawks commented on #135
I’d like to clarify just a bit what we're talking about, just to make sure we are on the same page.

I am assuming it is just the Schema.org information you feel is in your way, rather than anything about JSON as a data format. Were it possible, I would love to specify _all_ of our metadata (including OpenGraph tags) as JSON-LD instead of dealing with `<meta>` tags at all.

That you are adding mic

[2016-10-28 07:19] callumflack opened #138 "Specifying a list of social profiles — usage explanation"
Can a usage example please be provided for specifying a list of social profiles.

I've tried adding both `social: links:` and just `links:` but neither output anything.

[2016-10-28 14:06] benbalter commented on #138
See https://github.com/benbalter/benbalter.github.com/blob/9ec654b952e7229b0db1a6190a8df6f542acb2bc/_config.yml#L11-L19.

[2016-10-28 20:00] #138 closed

[2016-10-29 00:20] callumflack commented on #138
Thank you!

On Sat, Oct 29, 2016 at 12:06 AM +1000, "Ben Balter" <notifications@github.com> wrote:

See https://github.com/benbalter/benbalter.github.com/blob/9ec654b952e7229b0db1a6190a8df6f542acb2bc/_config.yml#L11-L19.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-10-29 03:30] sarbbottam commented on #130
Thanks @DirtyF

[2016-10-29 03:30] #130 closed

[2016-11-06 09:22] ChadKeating opened #140 "Raw tags are not respected when encoding urls"
Raw tags are not respected when encoding urls.

This is causing problems for me as I am using a client side templating library along side jekyll.

For example in my html file:
[code]

Is rendered as:
[code]

Expected:
[code]

[2016-11-06 13:04] pathawks commented on #140
This is not an issue with this plugin.

I suspect it is a Markdown converter that is rendering the characters this way, or it might be an edge case with Liquid. Either way, this plugin does not impact the rendering of the `{% raw %}` tag.

Maybe try opening an issue in the Jekyll repo.

[2016-11-06 13:04] #140 closed

[2016-11-17 17:33] schoenwaldnils commented on #84
Any updates on this? I had to use @daviddarnes workaround.

[2016-11-19 06:57] enzanki-ars opened #141 "Windows: Incompatible character encodings"
Also reported at jekyll/jekyll#5584

For the respository [schpaper/schpaper.github.io](https://github.com/schpaper/schpaper.github.io), the build fails on Windows due to incompatable encodings.  I have run many commands, including dos2unix and iconv to convert all files to utf-8.  I have also tried running the build (Using `bundle exec jekyll build`) in Git Bash and CMD, with CMD using 'chcp 65001

[2016-11-22 15:38] nickwright80 commented on #121
Clean visual separation of page title from site title.

How about changing the default separator to `|` (pipe) or `—` (em-dash).

Personally, I've always used `|`.

[2016-11-23 22:25] if3anyi opened #142 "Unrecognized seo liquid tag"
Apologise if this is in the wrong place. On merge with my gp  branch to master, github pages complains it can not identify my set liquid tag for seo. Reviewed the documentation but can not seem to resolve.

Any help appreciated.

**Error Below:**
`Your site is having problems building: The tag seo on line 5 in /_layouts/default.html is not a recognized Liquid tag`

[2016-11-24 01:48] pathawks commented on #142
Can you provide a link to your repo?

[2016-11-24 08:24] if3anyi commented on #142
[Repo](https://github.com/if3anyi/if3anyi.github.io)

[2016-11-24 15:08] pathawks commented on #142
It looks like `gems` [is indented too far in your `_config.yml`](https://github.com/if3anyi/if3anyi.github.io/blob/c5783611180c5b2f48ad9afe6d0895254b0989d8/_config.yml#L78-L80) so that it is a child of `owner`.

[2016-11-27 17:28] if3anyi commented on #142
@pathawks thank you for assisting. That resolved the issue.

[2016-11-27 17:28] #142 closed

[2016-12-06 17:20] nhaglind opened #143 "Embedded comment necessary?"
Not a breaking issue and there is almost 0 impact to performance, but is there a reason this is needed? Often times visible production comments are only for semantic purposes.

I'm referring to the following

[code]

[2016-12-06 17:56] pathawks commented on #143
It helps when debugging generated code, so one can know what was and was not added by the plugin.
I would not be opposed to omitting the comment in production environment.

[2016-12-14 05:32] IanMitchell opened #144 "Includes Footnote Text"
If you have a sentence with a footnote that's included in the SEO tag, the entire footnote is part of the SEO generation. I don't know if this is intended behavior or not, but it feels like it shouldn't be

[2016-12-14 15:03] linuschowdhary opened #145 "jekyll 3.3.0 | Error: Error: Out of stack space"
Incremental build: enabled
      Generating...
jekyll 3.3.0 | Error:  Error: Out of stack space

[2016-12-14 15:03] #145 closed

[2016-12-14 20:23] benbalter commented on #144
@IanMitchell can you provide an example of how someone might be able to recreate this? I'm afraid I don't follow your explanation.

[2016-12-14 21:40] IanMitchell commented on #144
Sure thing! [Working example here](https://github.com/IanMitchell/jekyll_test/commit/7bcb128933d1663f7f978544ff535bea51bf91fa)

If you boot the website up, [the header looks like this](https://gist.github.com/IanMitchell/67d8cd7a7ca4108ae771f2a3f80ed510)

[2016-12-14 22:13] benbalter commented on #144
I'm not immediately sure why the footnote is being collapsed into the excerpt, I suspect it's going to be an issue with Jekyll core, as we just call `post.excerpt`, but in the interim you can explicitly set a description to avoid outputting the footnote.

[2016-12-14 22:52] IanMitchell commented on #144
Yup, doing that currently. Will poke around jekyll core, thanks!

[2016-12-14 22:52] #144 closed

[2016-12-19 22:10] #110 closed

[2016-12-20 18:41] #128 closed

[2016-12-20 18:57] benbalter commented on #100
I'd still like to see this. It sounds like we landed on an `index:` field, which could be shared with sitemap.

[2016-12-29 21:36] parkr commented on #141
It appears we are not properly reading our files with UTF-8 encoding. Any `File.read` call should be replaced with an equivalent call which enforces UTF-8. /cc @benbalter @pathawks

[2016-12-29 22:54] enzanki-ars commented on #141
If I understand this correctly, the files are correctly encoded as UTF-8, but jekyll-seo-tag is reading them as Windows-1252.  If so, a `File.read` should respect the encoding specified in the `_config.yml`, and only force UTF-8 if nothing is specified.

Sidenote: `File.read` should have used UTF-8 anyway as that is the default for Ruby 2.0 and above, if I am understanding this correctly (Based on

[2016-12-30 15:15] parkr commented on #141
The default encoding for literal strings in Ruby is UTF-8 in Ruby 2, but Ruby will still try to infer the file encoding when reading from the filesystem.

In Jekyll's source, we use the `encoding` configuration option to read all files, but that is not used in all our plugins. We should start using that value or falling back to the default.

[2017-01-02 17:18] daviddarnes opened #146 "Using `title=false` can cause title inconsistencies"
## Summary

When I use the option to turn off the `<title>` element coming from the jekyll seo plugin it allows me to write my own title for the page. However this leaves the `og:title` inconsistent to the actual page title.

The ideal option would be the ability to set the title within the custom liquid tag. For example:
[code]
or even:
[code]

At the minute I'm doing the following:
[code]

I rea

[2017-01-02 17:25] pathawks commented on #146
`og:title` can already be customized through `page.title`, correct? By default, `<title>` is some combination of `page.title` and `site.title`

`og:title` will and should often be different from `<title>`

[2017-01-02 17:40] daviddarnes commented on #146
@pathawks but what if I don't want to use the `page.title` for the meta title? However I do agree that it should be different, I just want to have a little more control over the meta information so I'm not repeating code on the page

[2017-01-12 06:16] jhabdas opened #147 "Add support for Bing and Yandex site verification meta tag for webmaster tools"
Building on #8 we should also add support for Bing and Yandex:

[code]

Some might also want Alexa too, but site registrations were retired in May of 2016 and authors can add those on their own.

[2017-01-13 15:24] #147 closed

[2017-01-15 03:12] jhabdas opened #150 "New form site verifications not output"
#148 introduced additional verifications for Yandex, Bing and Alexa. The template updates were desk checked here with success: https://github.com/jhabdas/habd.as/commit/922b3da1fc8bcba27756854ad1bf557249cd5a64. But with the bump to Gem version `2.1.0` the new format does not output the verifications.

The previous backwards compat method of verification with Google still works as expected. I'm a b

[2017-01-15 03:26] jhabdas commented on #82
FWIW, and though not related to this gem, I also saw this behavior using the GA async template and the following code:

[code]

Note this is occurring because the async tag creates a [Script DOM Element](https://www.stevesouders.com/blog/2009/04/27/loading-scripts-without-blocking/) in the head and simply chooses to plop itself in between the Jekyll SEO Tag gem comment block. :)~

<img width="447"

[2017-01-15 03:54] pathawks commented on #82
So it's in the DOM but not the generated HTML?
That makes a lot more sense. I'm sure the async loader just puts it above any existing `<script>` tags, which means right before our JSON-LD data.

[2017-01-15 03:58] jhabdas commented on #82
Aye aye, sir

[2017-01-15 03:59] pathawks commented on #150
`2.1.0` doesn't yet have the new verifications. We haven't yet published an updated version [since those changes were merged.](https://github.com/jekyll/jekyll-seo-tag/compare/v2.1.0...master)

If you want to always use bleeding edge features, you can setup your Gemfile to pull from GitHub rather than RubyGems. Otherwise, I expect we should publish a new version pretty soon :+1:

[2017-01-15 03:59] #150 closed

[2017-01-15 04:01] jhabdas commented on #150
STGM. Thanks for the clarification, Mr @pathawks.

[2017-01-15 19:10] #120 closed

[2017-01-17 15:18] pathawks opened #152 "Consolidate `page.url` in template"
Several places in the template call `{{ page.url | replace:'/index.html','/' | absolute_url }}`

Perhaps we could consolidate all of these into one assignment to `seo_page_url` so the filters are only called once instead of each time. This would DRY up the template semantically and may make generation a _tiny_ bit faster.

[2017-01-23 17:11] #85 closed

[2017-01-23 17:11] #69 closed

[2017-01-23 17:11] #94 closed

[2017-01-23 17:11] #134 closed

[2017-01-23 17:11] #136 closed

[2017-01-23 17:11] #137 closed

[2017-01-23 17:38] daviddarnes commented on #146
I guess there is a work around for this, as stated above, however it's not ideal. I hope that in future this gem has a little more flexibility when using it with custom built sites

[2017-01-23 17:38] #146 closed

[2017-01-23 21:08] parkr commented on #100
@benbalter is this still considered useful? Is this a feature that has been requested a lot?

[2017-01-26 16:11] Phlow opened #154 "How to use JSON LD? I don't understand the documentation"
I can't get the [Customizing JSON-LD output](https://github.com/jekyll/jekyll-seo-tag#customizing-json-ld-output) working. Could you add an example?

In my case, I want to use *links - An array of other URLs that represent the same thing that this page represents. For instance, Jane's bio page might include links to Jane's GitHub and Twitter profiles.*

Is it possible to set these links in *_confi

[2017-01-26 19:24] DirtyF commented on #154
@Phlow Take a look at [ben's config.yml](https://github.com/benbalter/benbalter.github.com/blob/master/_config.yml#L11-L19) then ;)

[2017-01-28 10:34] jhabdas commented on #96
FWIW I just ran some tests using the Facebook debug tool and here were my results, confirmed by multiple runs with https://developers.facebook.com/tools/debug/:

**Test setup**
Ngrok-generated URLs submitted to debugger for the first time

**Test case**

    <meta name="author" content="Josh Habdas" />
    <meta property="article:author" content="https://www.facebook.com/phlow.media" />

**Result*

[2017-01-28 11:15] jhabdas commented on #100
A use case for adding something to the sitemap.xml but requesting google does not index it is the case a taxonomy list page. For instance, one might want pages listing blog posts (which are paginated) to appear in the sitemap so the crawler can quickly crawl them, but not want them to be indexed as a landing page in search. /cc @parkr

Because `index` is likely already in use in the wild and `noin

[2017-01-28 11:27] jhabdas opened #155 "Support Author display when posting to Facebook"
Currently this plugin does not support Author display when posting to Facebook. Author info can be added in one of two ways (at least):

1. By adding `meta name="author"`; and
1. As well as by adding `meta property="article:author"`.

It's possible to use both, but Facebook prefers use of the later as it allows their parser to dynamically generate a name from a URL (as [shown here with images](htt

[2017-01-28 12:44] pathawks commented on #100
But the blog posts would already be in the sitemap.

[2017-01-28 13:24] pathawks commented on #96
Is this documented anywhere?

[2017-01-28 13:32] jhabdas commented on #96
@pathawks It will be in our unit tests when we finish ;)

[2017-01-28 13:41] jhabdas commented on #100
Yep. Which will help enable Google spider internal links from those site maps but [avoid indexing those particular pages](https://support.google.com/webmasters/answer/93710?hl=en).

[2017-01-28 13:47] pathawks commented on #96
Sorry, I was asking more about Facebook’s end.
I feel funny about including tags that aren't officially supported.

[2017-01-28 13:51] jhabdas commented on #96
I completely understand. Unless there's a bug with the debug tool that to me is the documentation. I'm unaware if the feature is documented elsewhere. Either way it feels to add semantic value despite what Facebook is doing. Thoughts?

[2017-01-29 04:25] renshuki opened #156 "Fix rubocop multiline hash errors"
Hello,
It's just me or rubocop tests are failing?

# Issue
Here what I get when I run rubocop:

[code]

# Solution
Seems the default behavior of rubocop changed regarding multiline hashs.

* We can add a comma after the last item of each muliline hash or
* Skip the comma by changing `.rubocop.yml` config file:

[code]

Which behavior sounds better to you?

[2017-01-29 04:35] pathawks commented on #156
Oh, I think this was recently changed in Jekyll, and we use Jekyll’s config.
Let's just let Rubocop add some commas :+1:

[2017-01-29 15:31] renshuki commented on #156
Sorry but what do you mean? You don't need a PR for this?

[2017-01-29 15:44] pathawks commented on #156
Sorry, I mean I would *love* a PR!

If you run `rubocop -a` it should try to automatically fix the errors :+1:

[2017-01-30 17:10] #156 closed

[2017-01-31 15:10] Phlow commented on #154
I've seen it, and tried to reverse-engineer it but somehow it didn't show up, as I expected. My question: Shouldn't be the documentation be better, than trying to figure it out by stumbling through Bens set-up ;)

[2017-01-31 23:48] azizur opened #158 "How to define JSON-LD for Events?"
How to define JSON-LD for Events?

At the moment I am able to send `seo.type` as `Event` and I have layout file markup with appropriate attributes for events.

My manual HTML version renders correctly as Event. However, the JSON-LD version generated by `jekyll-seo-tag`has [5 errors](https://search.google.com/structured-data/testing-tool#url=https%3A%2F%2Fecclesmosque.org.uk%2Fevents%2Fvisit-my-mos

[2017-02-01 00:16] pathawks commented on #158
We need to be clearer about what we do and do not support. Because this data was constructed with blog posts or news articles in mind, it does not work well with any arbitrary type, such as `event`.

I think for sites that need more granular control over the metadata, there is little advantage in using a plugin like this.

Perhaps our documentation should include examples of the types we expect.

[2017-02-01 05:08] jhabdas commented on #121
I'm porting a WordPress site and would also like to customize the title separator using a pipe `|` to maintain parity with the site I'm porting. jekyll.tips links to the following authoritative resources on optimal site titles: https://moz.com/learn/seo/title-tag

According to the resources the optimal format for a title is:

Of course the plugin provides the ability to disable the title, though I

[2017-02-01 11:31] azizur commented on #158
@pathawks thanks for your prompt comment.

I am wondering if it's possible to have a flag to disable `JSON-LD` for arbitrary types?

[2017-02-01 11:33] azizur commented on #158
Looking at https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/template.html#L193-L237 it does not seem possible to this at the moment.

[2017-02-01 15:46] benbalter commented on #121
@jhabdas any reason to believe that the title separator character is significant for SEO purposes, or is it just optimal for there to be primary and secondary keywords delimited by a non-text character?

If the pipe is an SEO best practice, let's just use that. If it can be anything, let's pick the best one.

Will you receive an SEO penalty if your title separator changes? WIll users notice? I'd r

[2017-02-01 16:01] jhabdas commented on #121
I was pondering this earlier. Conjecture tells me hyphens are more likely to occur in a page title, and, therefore, a pipe is more likely to be a unique character denoting a site name when appended to a page title.

Mine will. He's a content marketer. As for adding complexity, maybe we just leave this open and wait for upvotes. Afterall, as mentioned, custom titles are already possible.

[2017-02-08 05:13] jhabdas commented on #100
Shall I prepare a PR? I'm currently making this change for one of my Hugo properties.

[2017-02-13 01:54] jhabdas commented on #154
@Phlow I'll try getting it going and grok it. Might be worth a reminder issue in your repo. Think this can be closed now?

[2017-02-14 19:26] caspervonb opened #159 "Automatic injection"
With Gem themes now being a thing, it gets somewhat tedious to insert {% seo %} in themes. Most often having to override a layout just to do it, best case scenario there's a `head.html` partial the user can override.

It is possible for themes to test for gem plugins etc and insert the tag if specified in site.gems but no one is doing that.

So, how about an opt-in flag to automatically insert `{%

[2017-02-14 20:12] benbalter commented on #159
We could do this by `gsub`ing `</head>`, but I'm not sure if this would violate Jekyll's no magic rule. It may also have performance implication. Assuming those are worked out, not strongly opposed if it's opt in, but there's something to be said for going to a template and seeing the place holder, rather than seeing the output and having to guess it based on a line in the config.

[2017-02-14 21:20] pathawks commented on #159
I’d love to see Jekyll and its themes adopt a hook system similar to WordPress.

Any plugin should be able to attach something to a `head` hook, which gets called by a theme somewhere inside `<head>`

[2017-02-15 06:56] caspervonb commented on #159
It is somewhat magical but adding a plugin generally tends to have side effects, not that far fetched that adding an 'seo tag' plugin would actually add seo html tags.

The alternative is to get minima and every other theme out there  to do something like the following in their `head.html` partial or equivalent.

[code]

[code]

The include is needed to lazily evaluate the tag, otherwise it'll fai

[2017-02-15 13:43] #154 closed

[2017-02-15 16:53] jhabdas commented on #96
Resolved by https://github.com/jekyll/jekyll-seo-tag/pull/103

[2017-02-15 16:59] #96 closed

[2017-02-16 18:06] pathawks commented on #155
Fixed by #103?

[2017-02-16 19:09] jhabdas commented on #155
Still need article:author if we want dynamic author links via Facebook share cards (right now they're just static text author names with #103)

[2017-02-16 19:17] pathawks commented on #155
And that needs to link to a Facebook profile page?

[2017-02-16 19:19] jhabdas commented on #155
Indeed, what's more is it dynamically parses the current page name. So if someone sets the tag and later updates a Page or Person name on Facebook it gets picked up in share, and the name becomes a link to that page.

[2017-02-18 12:49] xonic commented on #116
Hi,

currently the canonical URL is always the same URL as the current page. I do have two pages with different URL but same content
[code]
I need to change the canonical on page 2 so that:
[code]
How can I achieve this?

Thanks!

[2017-02-18 14:02] pathawks commented on #116
This is not currently possible.

You could redirect from one URL to the other.

[2017-02-21 01:08] stanidesis commented on #116
@pathawks would 💘 to re-open this because I need the same functionality (for re-circulating content from other sites with canonical claims).

[2017-02-21 01:17] pathawks commented on #116
Publishing syndicated content with a canonical URL pointing back to some original site is certainly a valid use case. I am not sure it fits within the scope of this plugin, but I would encourage you to open a new issue focused on that feature request and state your case :+1:

[2017-02-24 14:37] jhabdas commented on #159
One thing to keep in mind is that [some popular themes](https://github.com/mmistakes/minimal-mistakes/issues/324) include their own customized SEO. If things were input magically it _could_ interfere with whatever care to SEO a theme may have implemented and disrupt crawlers and cause unexpected listings in SERPs.

[2017-02-24 15:52] jhabdas commented on #121
Okay. Without adding complexity I lobby we just update the title separator to `|` and call it a day. Here's an example of why we should do this:

    Chicago Housing Projects - An Infamous Past | Chicago Gang History

Notice how the pipe clearly separates the site title from the key phrases.

@benbalter @pathawks Please lemme know if I'm good to proceed and I'll get the PR together.

[2017-02-25 10:54] jhabdas commented on #155
Closing this as I see there's `article:publisher` also used for Facebook. Assuming it does the same thing this does. If not, can reopen later.

[2017-02-25 10:54] #155 closed

[2017-02-25 19:07] jhabdas opened #161 "Multi-author support"
Thoughts potential template and test refactor to ease future updates after #151 and prep for enhanced support for multi-author sites like minimal mistakes? Some initial observations:

- Looks like authors.yml only supports Twitter authors and not Facebook/OG settings
- The og:publisher is present but not the og:author, and it's not clear how to use publisher on multi-author sites (at least to me)

[2017-02-27 15:34] benbalter commented on #121
I'm not strongly opinionated. Pipe? Dot? Emdash?

[2017-02-27 15:45] jhabdas commented on #121
Knowing how Pat likes data- and doc-backed deciosions, and given we have the Moz resource guidance, and, for users of SEO Tag, the ability to opt out of plug-in provided titles, seems clear to go with pipe for site title separator and leave the fine grained control to site owners using an opt-out and individual customization. Doing feels to hit a sweet spot IMO for the gem (backed by rational deci

[2017-02-27 15:51] pathawks commented on #121
You’ve convinced me :+1:

[2017-02-27 15:55] manuth commented on #121
Humh... Well instead of discussing what separator...
Would it be a good idea if people could provide their own regelmässig if they aren't fine with the default one...?
I'm just asking since... I'm not sure how complicated that'd be

[2017-02-27 16:00] jhabdas commented on #121
@manuth will revisit docs with PR so it's clear how to opt out of default titles for user customizations. Thanks for your input

[2017-02-27 16:47] benbalter commented on #121
I'm 👍 on changing the title separator if there's a better best practice than the one one we're currently using, but [per my comment above](https://github.com/jekyll/jekyll-seo-tag/issues/121#issuecomment-250742715), I'm aggainst the idea of [adding additional options just because someone may not like our decision](http://ben.balter.com/2016/07/21/removing-a-feature-is-a-feature/).

[2017-03-01 12:50] jhabdas commented on #102
One of the major benefits of Last-Modified-At (LMA) is the ability to sort content based on last modified, allowing your users to see your freshest content first ([example of what I mean](https://hackcabin.com) for Hugo). LMA also allows users to easily [add meta data to show last modified date](https://github.com/Phlow/feeling-responsive/issues/136), helping readers know when a post was last touc

[2017-03-02 16:12] #121 closed

[2017-03-06 20:33] dagoodma commented on #152
What about using `{{ site.url }}` instead of `{{ page.url }}`?  I'm having an issue with deploying to my production server from the dev environment because jekyll-seo-tag uses `{{ page.url }}`, and so I get bad links in my header:

[code]

Where *localhost:4000* should be the `{{ site.url }}` so that it works in production.  Yes, I did set `JEKYLL_ENV=production` before running `jekyll build`.

Th

[2017-03-06 21:16] dagoodma commented on #152
Oh nevermind.  That was my bad.  Maybe I didn't actually have the environment set.

[2017-03-17 17:11] davebowker opened #163 "site.webmaster_verifications not getting printed to page"
I've entered the config for multiple web service verification as shown in example but it's not being printed out to the page.

I've checked the code within `https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/template.html` and when I manually take that section of code with the liquid if statements and paste it into a random page, it does print out when the site is built, it just doesn't seem

[2017-03-17 18:11] #84 closed

[2017-03-18 15:19] davebowker commented on #163
Also, looks like Alexa no longer allows you to claim your domain. See here: https://support.alexa.com/hc/en-us/articles/219135887-Claiming-has-been-retired-May-2016

[2017-03-21 02:50] rmcfadzean commented on #163
The gem needs a new release to use that.

The latest is 2.1.0 from Nov but that change is from Jan 13.

[code]
Works in the mean time if you're ok with pulling from repos.

[2017-03-23 18:10] #141 closed

[2017-03-23 18:10] #143 closed

[2017-03-24 14:45] davebowker commented on #163
Ah ok. Yeah pulling directly works

On 21 Mar 2017 02:50, "Rob McFadzean" <notifications@github.com> wrote:

[2017-03-24 16:12] #163 closed

[2017-03-31 18:56] aarongustafson opened #167 "Add support for `og:locale`"

[2017-03-31 18:57] aarongustafson opened #168 "Fix `og:image` to fall back to the site image if one exists"
The `meta` element doesn’t show up at all if `page.image` doesn’t exist.

[2017-03-31 18:59] aarongustafson opened #169 "Add support for `link[rel=publisher]`"
Documentation: https://developers.google.com/+/web/badge/

[2017-03-31 23:24] aarongustafson opened #173 "Make this plugin play well with jekyll-archives"
Currently the page titles for the official [Jekyll Archive](https://github.com/jekyll/jekyll-archives) plugin do not align with the ones presented by this plugin.

[2017-04-01 05:08] pathawks commented on #173
jekyll/jekyll-archives#63

[2017-04-01 05:19] pathawks commented on #168
Duplicate of #97 #95

[2017-04-01 05:19] #168 closed

[2017-04-01 05:22] pathawks commented on #168
The reason we want the user to explicitly define an image instead of just falling back to the logo or something is because there may be instances where a user would rather include no image than include the logo. If this is not the case, the user can easily specify a site-wide default image to use.

[2017-04-01 14:08] azizur commented on #158
This is still an issue. It would be really useful to have an option to turn off `JSON-LD` for unsupported arbitrary types. That way who wants can implement their own arbitrary types.

[2017-04-03 13:58] benbalter commented on #168
See https://github.com/jekyll/jekyll-seo-tag#setting-a-default-image

[2017-04-03 14:31] aarongustafson commented on #173
Yeah… I commented over there too. Things are not lining up in my install, are they for you?

[2017-04-03 15:30] pathawks commented on #173
@aarongustafson No, the lack of sensible archive titles irritates me too, and I have all sorts of custom Liquid to work around that.

See also jekyll/jekyll-archives#20

[2017-04-03 23:13] benbalter opened #176 "Move seo_author_* logic to Ruby"
The top 100 or so lines of the template is getting a bit unwieldy and I can't imagine it's performant. We should centralize the logic in ruby for figuring out the author (post, data, or global), and any other super-safe hash or string manipulation.

[2017-04-03 23:17] pathawks commented on #176
We had talked previously about starting yet another gem to deal with author logic, as anything we do here would also apply to **jekyll-feed** and likely themes as well.

[2017-04-03 23:22] benbalter commented on #176
Yes! I was thinking step one would be to move it to Ruby here, and then step two could potentially move that to be shared some way once we know it works (e.g., generally make `post.author` a resolved object available to generators).

[2017-04-04 12:36] robertmuehsig opened #178 "URLs contains baseurl + full url permalink"
I discovered that the seo plugin produce wrong URLs and I'm not sure if I did something wrong from the configuration side.

Currently something like this is generated:

[code]

As you can see the plugin will generates something like this: http://docs.oneoffixx.com/http://docs.oneoffixx.com/

The configuration looks like this:

[code]

And a typical page has this yaml:

[code]

How do I get rid of

[2017-04-04 13:13] DirtyF commented on #178
[You're not the first one confused with baseurl](https://byparker.com/blog/2014/clearing-up-confusion-around-baseurl/)

Just replace

`baseurl: http://docs.oneoffixx.com`

with

`baseurl: ""`

GitHub Pages sets automatically the URL for you.

[2017-04-04 13:25] robertmuehsig commented on #178
Uh - wow - I really missed that part and I'm using GH-Pages for quite a while 👍
Thanks - issue resolved!

[2017-04-04 13:25] #178 closed

[2017-04-04 13:53] benbalter opened #179 "Test against Ruby 2.3 and 2.4"
We should be testing against newer versions of Ruby in the `.travis.yml` file other than 2.2.x.

[2017-04-04 19:46] #169 closed

[2017-04-04 19:47] aarongustafson commented on #167
PR merged to master

[2017-04-04 19:47] #167 closed

[2017-04-05 18:10] aav7fl commented on #158
@azizur While this doesn't change the plugin handling, you could always use some liquid hackery to remove the JSON-LD tags if you can guarantee they match a text pattern like the meta tags.

For example, I need to clear out certain meta tags and rewrite them my own way due to conflicts with [amp-Jekyll](https://github.com/juusaw/amp-jekyll).

[code]

This isn't a great solution.  For this example,

[2017-04-05 19:07] azizur commented on #158
@aav7fl It's not the best solution as you already have mentioned.

I would rather `jekyll-seo-tag` not output `JSON-LD` for unsupported arbitrary types.

If I am going to have to patch output from one plugin to make it fit it defeats the purpose of a plugin. At this point just copy the plugins and modify it and release it as plugin with the just the fix you need.

[2017-04-05 19:09] azizur commented on #158
@benbalter could do with some direction on this issue. Would you or rest of the team entertain PR that will either add options to turn-off or implement support for unsupported arbitrary types?

[2017-04-05 19:44] benbalter commented on #158
How many different types are there? How much do they differ? What fields need to be added/removed from website or blog post to support events?

[2017-04-06 19:18] aav7fl opened #183 "Warning: The attribute image.itemtype has an invalid value."
Looks like when I removed all of my image changes in #151 (because of #174), I also removed my change that appeased Google's "Warning" `The attribute image.itemtype has an invalid value.`.

We have:
[code]

We should have:
[code]

Hence why we offer the image `height` and `width` as options. I can add this back in, but it won't be until the weekend. It's somewhere in one of the older commits for #

[2017-04-06 20:17] aarongustafson commented on #135
I want to re-open discussion on this one. Schema.org offers such a wide variety of options & combinations, it seems like forcing JSON-LD output might not be the best solution. I wonder if adding a `jsonld=false` option would be considered a reasonable option. Thoughts? I’d be happy to implement if the powers that be are cool with the idea. We can still default to the status quo to avoid breaking e

[2017-04-07 19:03] aarongustafson commented on #135
FWIW, it looks like about 20-25% of the current issues have to do with JSON-LD in one way or another. I am simply wondering whether it makes sense to tie this project so tightly to that spec (and Google’s implementation of it, which—of course—differs in some instances).

[2017-04-07 19:18] pathawks commented on #135
JSON-LD is just the conduit with which we deliver Schema.org info. If we did not use JSON-LD, we would use `<meta>` tags and the problem would persist.

We could stop providing Schema.org data, but that would defeat most of the *seo* benefits of the plugin.

Let's not conflate JSON-LD with the data we are providing.

[2017-04-07 19:23] aarongustafson commented on #135
I’m not against including it as a baseline, just floating the idea of being able to disable the default stuff if someone wants to use a dedicated JSON-LD plugin or simply [roll the whole thing](http://jsonld.com/blog-post/) [themselves](http://pauldambra.github.io/structured-data-with-jekyll.html). Having a flag for turning it off (like you do for `title`) offers the best of both worlds IMHO.

[2017-04-07 19:28] pathawks commented on #135
@aarongustafson What would be the benefit of using this plugin if so much is turned off? I just don't see the use case.

[2017-04-07 19:34] aarongustafson commented on #135
I thought the OG data was really good :-) If the Schema.org stuff is integral, it may make sense to develop a roadmap for improving either the capabilities or the documentation around configuring it.

I spent a while pouring over the docs and seem to be having errors, at least according to Google’s testing tool. I’m fully willing to admit it could be me… I totally could have missed or misunderstoo

[2017-04-11 15:28] aav7fl commented on #183
PR submitted.

[2017-04-11 19:12] gschueler opened #186 "broken author meta tag"
using github pages, previously this worked in our _config.yml

[code]

I think github pages upgraded to jekyll-seo-tag 2.2.0, and now that breaks the HTML page, by generating:

[code]

The readme specifies this as a valid config: https://github.com/jekyll/jekyll-seo-tag#author-information

changing the to `author: name` fixes the HTML issue

[2017-04-11 21:21] #183 closed

[2017-04-11 21:35] #176 closed

[2017-04-11 21:47] aav7fl opened #187 "Liquid Exception: Invalid Date"
Using the latest master branch (f048342), I'm getting this error related to `LastModifiedAt`:

[code]

Still investigating, but I didn't want a new gem to get pushed out before we figured it out.

Edit 1: It looks to be coming from https://github.com/gjtorikian/jekyll-last-modified-at/blob/master/lib/jekyll-last-modified-at/determinator.rb and how the date is passed into the new template.

`date_m

[2017-04-11 22:18] benbalter commented on #187
Suspect we need to call `to_liquid` on `page["last_modified_at"]` in https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/jekyll-seo-tag/drop.rb#L101.

[2017-04-11 22:54] aav7fl commented on #187
@benbalter That was it.

[2017-04-11 23:41] aav7fl opened #190 "JSON-LD errors"
In the latest commits (f048342e2296f6a8a915b27eef3326d28e02d7a0), there are a few JSON-LD errors with the Google Structured Data Testing tool when I test against my website.

1. Author name is missing (Probably because the template is only looking for the `author.name` and not any of the other methods. e.g. `{% assign seo_author = page.author | default: page.authors[0] | default: site.author %}` )

[2017-04-12 03:09] benbalter commented on #190
Are you able to push up failing tests to reproduce the above?

For the first, it should be looking to the other means.

[2017-04-12 03:11] aav7fl commented on #190
I can try that tomorrow. Will need to freshen up on my Ruby first.
On Tue, Apr 11, 2017 at 11:09 PM Ben Balter <notifications@github.com>
wrote:

[2017-04-12 09:26] pkra commented on #186
We encountered the same problem (though with `first_name` and `last_name` instead of the OP's `twitter`); also on github pages (but I can reproduce the issue locally as well).

This results in artifacts in the compiled HTML (for lots of old content).

Might be due to https://github.com/jekyll/jekyll-seo-tag/pull/103.

[2017-04-12 14:48] benbalter commented on #186
I *think* this should be fixed on `master` after https://github.com/jekyll/jekyll-seo-tag/pull/184.

[2017-04-12 15:29] aav7fl commented on #190
PR #191 opened with failing test for image tag.

PR also offers explanation for why the `author` was populated as `null` and why the image object has extra tags.

[2017-04-13 02:57] jhabdas commented on #100
It's a slippery slope, adding a `robots` field to the metadata. If we do it may come to pass users will want to gain access to additional Robots Exclusion Protocol (REP) tags, such as `unavailable_after`, `nosnippet`, `noarchive` and `noodp`. MOZ says blocking pages from `robots.txt` is an [SEO best practice](seo-best-practice), whereas blocking by `nofollow` is a <q>poor tactic</q> because [reaso

[2017-04-13 18:33] #187 closed

[2017-04-20 14:22] shovanuk opened #193 "Error: uninitialized constant Jekyll::SeoTag::JSONLD"
I installed Jekyll seo tag plugin. When I ran `jekyll serve` I get the following error

[code]

Here is the `jekyll build --trace code`
[code]

Can you help?
Thanks

[2017-04-20 15:41] benbalter commented on #193
What version of the plugin are you using? This appears to be `master`? How are you including the plugin?

[2017-04-21 17:13] dkmooers commented on #81
+1 for this. I'm trying to create a Product schema page and Google's structured markup validator doesn't like headline (because a Product should have a name, not a headline). I've successfully put name in there using YAML frontmatter, but IMO there should be a way to disable headline from showing in JSON-LD output using something like:

[code]

[2017-04-22 14:05] azizur commented on #135
I just wanted to say this also causing me an issue where JSON-LD does not yet support event type yet. See #158.

[2017-04-22 14:10] azizur commented on #158
@benbalter Just to give you an idea here is a list of a commonly used type:

- Creative works: CreativeWork, Book, Movie, MusicRecording, Recipe, TVSeries ...
- Embedded non-text objects: AudioObject, ImageObject, VideoObject
- **Event**
- Health and medical types: notes on the health and medical types under MedicalEntity.
- Organization
- Person
- Place, LocalBusiness, Restaurant ...
- Product, O

[2017-04-24 19:04] dkmooers commented on #190
I'm having this issue as well. Blog posts are not outputting Author or Publisher at all into JSON-LD, presumably due to OP's suggested reason.

[2017-04-24 19:08] aav7fl commented on #190
For me, https://github.com/jekyll/jekyll-seo-tag/pull/192 fixes this (I closed this issue prematurely). Just need to get it pulled into master and the gem updated if it causes no other problems. That should solve your issue, @dkmooers.

[2017-04-24 20:56] DirtyF commented on #159
watch https://github.com/jekyll/jekyll/pull/6046

[2017-04-25 15:41] aav7fl commented on #190
@dkmooers Looks like the PR has been merged and the latest Gem updated with these changes. My issues are solved. Re-open if you're still having an issue.

[2017-04-25 15:41] #190 closed

[2017-04-25 16:06] DirtyF opened #195 "Run tests locally"
Am I the only one not being able to run the tests locally?

[code]

[2017-04-25 16:11] benbalter commented on #195
Yes. The issue is the `.ruby-version` file... 2.3.3 and JSON being explicitly required someplace in the stack. I believe HTML Proofer -> Activesupport -> JSON. `bundle update` got things working for me (ActiveSupport >= 4), but with lots of warning. Alternatively, setting Ruby to 2.4.0 locally, resolved the problem as well.

[2017-04-25 16:14] DirtyF commented on #195
I switched back to 2.3.3 because this was GitHub Pages current version but it's the same under ruby 2.4

[code]

[2017-04-25 16:15] benbalter commented on #195
`gem uninstall json`? or `gem install json`? Some combination of the above now has it work on 2.3.3 with no warnings.

[2017-04-25 16:23] DirtyF commented on #195
Finally got it working with:

[code]

💎  🔧  🌞  … thanks for your feedback @benbalter

[2017-04-25 16:23] #195 closed

[2017-04-25 16:24] dkmooers commented on #190
Perfect, thanks all!

[2017-04-26 10:17] axilleas opened #196 "Builds failing with "Liquid Exception: no implicit conversion of String into Integer""
After updating the `jekyll-seo-tag` to `2.2.1`, the following error appears:

[code]

Downgrading to `2.2.0` fixes this issue. Reported in https://gitlab.com/pages/jekyll/issues/15. Test repo in  https://gitlab.com/open-leadership/curriculum.

Thanks!

[2017-04-26 14:54] benbalter commented on #196
Fix in https://github.com/jekyll/jekyll-seo-tag/pull/197.

[2017-04-26 15:58] #196 closed

[2017-04-26 16:25] mmistakes opened #198 "Liquid Exception: undefined method `absolute?' for nil:NilClass"
Came across this error testing the latest versions `2.2.1` on a Windows 7 box (`2.2.0` works fine). Looks like the problem is in [drop.rb](https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/jekyll-seo-tag/drop.rb#L208)

1. Placed `{{ seo }}` in `_layouts/default.html`
2. `bundle exec jekyll build`

[code]

[2017-04-26 16:49] benbalter commented on #198
Thanks for catching this @mmistakes. Fix over in https://github.com/jekyll/jekyll-seo-tag/pull/199.

[2017-04-28 14:38] smashism commented on #186
Unfortunately I'm experiencing this issue on my site as well. This does not appear to be fixed.

[2017-04-28 15:28] DirtyF commented on #186
@smashism with latest gem 2.2.1? Can you provide a link to a repository?

[2017-04-29 02:04] alias1 opened #200 "Account for double slash (//) from baseURL"
To have [my site](http://devalias.net/) work correctly on GitHub pages with a CNAME set, I need to set my baseUrl to `/`, otherwise it tries to use the full path (which then breaks because of my CNAME)

In doing so, all of my websites SEO links now contain `//`.

[code]

For my own links, I wrote a little filter that I add to the end called `chomp_slash`, that will strip the last `/` from a string

[2017-04-29 03:10] pathawks commented on #200
I don't understand; _why_ do you need to set `baseUrl` to `"/"`?

That is very much *not* the design of `baseUrl`, so chances are high the root problem is elsewhere.

http://blog.parkermoore.de/2014/04/27/clearing-up-confusion-around-baseurl/
https://byparker.com/blog/2014/clearing-up-confusion-around-baseurl/

[2017-04-29 03:10] #200 closed

[2017-04-29 05:15] alias1 commented on #200
Because when I deploy to GitHub pages, if I haven't set it, or I have set it to be empty, GH in all its wisdom takes over and sets it for me, to something akin to "/alias1/devalias.net/" or similar. Which is definitely not going to work when my site is hosted on the domain devalias.net.

[2017-04-29 05:20] pathawks commented on #200
It sounds like your GitHub Pages site is not properly configured.

https://help.github.com/articles/adding-or-removing-a-custom-domain-for-your-github-pages-site/

[2017-04-29 05:25] alias1 commented on #200
Related: https://github.com/github/pages-gem/issues/359

[2017-04-29 05:34] alias1 commented on #200
My page is properly set up, and accessible, and when I use a baseURL of "/" everything works fine.

![image](https://cloud.githubusercontent.com/assets/753891/25553207/5b7aea2a-2cf0-11e7-92ea-4be6e1c6c47d.png)

Due to https://github.com/github/pages-gem/issues/359 or maybe something similar, when the baseUrl is '/' GH takes over. I'll intentionally re-break it so I can get you the exact copy/paste

[2017-04-29 05:59] pathawks commented on #200
You should open this issue over at pages-gem. This definitely sounds like a real problem.

[2017-04-29 06:08] alias1 commented on #200
That issue was in the pages-gem, i've commented explicitly there as well. According to articles like the following, using the / in the baseurl is 'bad form':
* http://downtothewire.io/2015/08/15/configuring-jekyll-for-user-and-project-github-pages/

Jekyll 2.4 [added support to prevent certain double slash cases](https://forestry.io/blog/post/what-s-new-in-jekyll-3-4-0/), which implies it's a comm

[2017-04-30 16:12] #161 closed

[2017-04-30 16:12] jhabdas commented on #161
In a future reality

[2017-05-01 14:54] JamesIves opened #201 "Disable Canonical?"
Is there a way to disable the canonical url tag from generating with the seo tag? I'd like to use this plugin with my AMP setup, but I don't want it to generate these tags for me as it causes problems when linking back from the AMP article.

[2017-05-01 15:00] pathawks commented on #201
There is not currently any way to disable the canonical tag.

Can you describe your problem in a bit more detail, as well as how you are generating the AMP pages? I am curious.

[2017-05-01 15:06] JamesIves commented on #201
Sure thing;

I'm running a separate version of my posts through a `/amp` directory, for instance it might be something like this:

[code]

I've split up my headers into an amp header and a regular header, both run the `{% seo %}` tag.

Per the AMP spec you need to have an amphtml link tag on the regular page to tell Google where thee AMP version is, this part is no problem. The problem is when I r

[2017-05-01 15:20] benbalter commented on #201
How are you generating the amp posts? Are they seperate files?

[2017-05-01 15:22] JamesIves commented on #201
Separate files yes, just prepending `layout: amp` near the top to render them in a different layout with all of the amp required javascript etc.

[2017-05-01 15:23] benbalter commented on #201
Ahh, and in the amp` version, you want the canonical URL to be the non-amp version?

[2017-05-01 15:26] JamesIves commented on #201
Yep!

[2017-05-01 15:32] #198 closed

[2017-05-01 16:05] benbalter commented on #201
Have you tried setting the URL in the page's front matter?

[2017-05-01 16:15] JamesIves commented on #201
Tried something like this but the page.url value doesn't reflect the changes.

[code]

[2017-05-02 07:41] pkra opened #202 "undefined method `delete!' for nil:NilClass"
Moving this over from https://github.com/github/pages-gem/issues/441.

After updating gh-pages from 134 to 136, I get build errors

      Liquid Exception: undefined method `delete!' for nil:NilClass in /_layouts/default.html

Disabling the SEO plugin resolved this (and was the only relevant update in 136 I could see).

* Link to the source repo: https://github.com/mathjax/mathjax-website
* Link t

[2017-05-02 11:59] mmistakes commented on #202
I was bit by the same thing. If you add `--verbose` and `--trace` to `jekyll build` it'll help identify what post/page jekyll-seo-tag is breaking on.

In my case I had posts that had unused stuff like `author: false` in their YAML Front Matter. Removing those lines fixed my builds.

@pkra The culprits in your repo seem to be the `author` object. Like in [this post](https://github.com/mathjax/MathJ

[2017-05-02 12:24] pkra commented on #202
Thanks for debugging this for me @mmistakes! And sorry for not looking into how to get better error information from jekyll :bowing_man:.

I should've guessed it's related to [the last bug we ran into](https://github.com/jekyll/jekyll-seo-tag/issues/186#issuecomment-293523148) -- I missed a few posts, apparently.

Leaving it to the maintainers to decide if this is a bug or expected behavior.

[2017-05-02 13:44] benbalter commented on #202
Fixed via https://github.com/jekyll/jekyll-seo-tag/pull/203. The problem arises when the post has an `author` hash that contains neither a `name` nor `twitter` key. The plugin is attempting to normalize the non-existent Twitter handle by stripping the `@`.

[2017-05-02 13:52] pkra commented on #202
Thanks for the quick response & fix, @benbalter.

[2017-05-02 17:48] #202 closed

[2017-05-02 20:04] kermorgant commented on #201
Hi,

I am working on a small one page site with 3 languages, and would also be interested by disabling the canonical generation from this plugin.

I'm basically generating 3 sites from one template using template keys, and I end up with 3 different canonical urls.

[2017-05-03 09:02] BinaryMoon opened #205 "no implicit conversion of nil into String"
I am getting the error: `no implicit conversion of nil into String` when I use the seo tag. If I remove the tag then my site builds fine.

I have a similar site that runs with the tag just fine and as far as I can see the setup between the repos is the same.

The problem has started happening somewhere between the 2.2.0 and 2.2.2 update since it wasn't happening on my local site and was happening

[2017-05-03 12:26] BinaryMoon commented on #205
ok - worked out what the problem was.

I had the description in my _config.yml set to > - which I think is the default when I made the file. I don't think I would have set it to that myself. Now I've added a proper description the site is building.

I'll close this - thanks anyway :)

[2017-05-03 12:26] #205 closed

[2017-05-03 19:55] mbrav commented on #202
Hi, I'm having a similar problem. (appologies for the long ```--trace```) Any suggestions?

[code]

[2017-05-05 18:12] parkr opened #207 "no implicit conversion of nil into String in `title`"
This line: https://github.com/jekyll/jekyll-seo-tag/blob/96b1fa22c5fc852a7f7116f0792edd5d1de255ef/lib/jekyll-seo-tag/drop.rb#L45 does:

[code]

One of those three is `nil`. Can we cast them all to a string or do a `[...].compact.join("")`?

[2017-05-05 18:19] pathawks commented on #207
See also #206

[2017-05-05 18:27] pathawks commented on #207
Fixed by #206

[2017-05-05 18:27] #207 closed

[2017-05-08 14:38] RohitK89 commented on #196
@benbalter This is happening for me with multiple authors on a single post.
Disabling the plugin gets the build to succeed.

I'm specifying multiple authors as follows:
[code]

[2017-05-08 14:40] RohitK89 opened #208 "Having a list of authors on a single post causes build to break"
Related to: https://github.com/jekyll/jekyll-seo-tag/issues/196

I've modified my code to allow more than one person as an author on a blog post.
[code]

This causes the build to break with this plugin enabled.

Error:
[code]

Thanks for looking into it!

[2017-05-08 19:39] benbalter commented on #208
@RohitK89 is this with version 2.2.3?

[2017-05-08 19:42] RohitK89 commented on #208
@benbalter 2.2.2, apparently. It's what Github Pages seems to be using

[2017-05-08 19:45] benbalter commented on #208
I believe this should be fixed in v2.2.3 (which specifically addressed this issue).

[2017-05-08 19:49] RohitK89 commented on #208
Ah. Thanks! Good to know. Any idea how often GitHub Pages updates the gems?

[2017-05-08 20:05] RohitK89 commented on #208
@benbalter Seems to still be broken with 2.2.3.

[code]
[code]

[2017-05-12 19:42] RohitK89 commented on #208
Never mind. I see that 2.2.3 fixes it if you supply an authors list with the tag `authors` plural instead of `author` singular.

[2017-05-12 19:42] #208 closed

[2017-05-13 09:59] 8parth opened #209 "How to add or replace canonical URL to refere to another domain?"
The plugin adds canonical-url by default. I want to replace that default url on some specific pages if another canonical-url exists.

So I added following in head section of my blog,
[code]
So whenever a post has `canonical_url` specified in it's front-matter above snippet adds that canonical  url. But, there is also one default generated canonical url tag added by `{% seo %}` field.

Is this expe

[2017-05-13 15:45] pathawks commented on #209
It is not currently possible to disable the plugin’s outputting of the canonical tag.

Can you explain your use case a bit more? Why do you want the canonical URL to point to a different domain?

[2017-05-13 16:55] 8parth commented on #209
I run my blog with Jekyll, and regularly post articles on different tech blogs. So, I want to republish content to my own blog with original article's url as canonical tag.

[2017-05-14 11:18] 8parth commented on #209
Update: Currently jekyll-seo-tag merges site url with page url and generates final canonical url. If for a specific page canonical_url  is explicitly defined by user, we can assign the url to canonical url otherwise use default generated url.

Here is my implementation:
[code]
@pathawks if this works fine I can submit PR or you can integrate these changes?

[2017-05-19 13:20] mehmandarov opened #210 "When resolving authors to hashes, prefer name and twitter subkeys to parent key"
Twitter tags contain errors:
1. \<meta name="twitter:creator" content="@name.lastname" /\> -> It returns name.lastname, not the twitter handle
2. \<meta name="twitter:card" content="summary_large_image" /\> -> Gives you an empty tag. Resulting in a link without picture on twitter.

Some links to help with debugging:
* Here is an example of the page that gets generated: https://mehmandarov.com/cmd-

[2017-05-19 13:20] mehmandarov commented on #186
Similar issue: https://github.com/jekyll/jekyll-seo-tag/issues/210

[2017-05-22 14:50] benbalter commented on #210
If we resolve the author to a hash, and the hash contains a `name` or `twitter` key, we should prefer the subkey to the parent key.

You *may* be able to work around this in the mean time by adding `author: rustam.mehmandarov` to the post, your config, or YAML front matter.

[2017-05-22 14:51] benbalter commented on #186
#210 is a distinct issue. I'm going to call this closed on the latest version.

[2017-05-22 14:51] #186 closed

[2017-05-22 14:55] mehmandarov commented on #210
@benbalter: Thanks for your reply! In my case it actually resolves to rustam.mehmandarov, instead of rmehmandarov, which is my twitter handle.

Here is my config: https://github.com/mehmandarov/mehmandarov.github.io/blob/master/_config.yml

[2017-05-23 08:15] mehmandarov commented on #210
@benbalter: Also, what about missing preview image on twitter?

[2017-05-30 15:57] wohfab opened #214 "Social Links not displayed in website's sourcecode"
I set up the social links in my `_config.yaml` as followed:

    social:
      name: "Fabian Wohlgemuth"
      links:
        - https://github.com/wohfab

The link, however, does not appear anywhere on the website's sourcecode.
Is this right behaviour or do I miss something?

[2017-06-03 18:13] pathawks commented on #173
This is a jekyll-archives issue.

[2017-06-03 18:13] #173 closed

[2017-06-12 14:48] sasivarnan commented on #214
I am also facing this issue.
The links were appearing when I used `jekyll-seo-tag` **2.2.0**. But when i use **2.2.3**, it was not showing the links.
Any idea ?

[2017-06-12 14:52] benbalter commented on #214
Can you provide links to the source code, if public, or paste your config file here? It is working for me on the latest version.

[2017-06-12 15:02] sasivarnan commented on #214
Sure. The `_config.yml` I used for building my [site](https://cybeadon.com) can be found [here](https://github.com/cybeadon/cybeadon.github.io/blob/master/_config.yml).

[2017-06-12 15:19] benbalter commented on #214
@sasivarnan I am seeing this on your site which is built with 2.2.3:

[code]

[2017-06-12 15:30] sasivarnan commented on #214
@benbalter Sorry I wasn't described it correctly. In my case, the author info was not showing when using `2.2.3`. Whereas the following snippet was taken from my site with the same config using `2.2.0`.

[code]

[2017-06-18 14:12] jonlpersson opened #215 "Change frontmatter default path"
Hey,

Found about this plugin a couple days ago and love it so far.

However, when I build client websites on Jekyll, I always separate general site settings from the build config by putting the former in a yaml file in the _data folder. (This not only minimises the risk of someone accidentally messing up something crucial to the site, and the cloud CMS my clients use generates a great editing int

[2017-06-18 14:47] mittalyashu opened #216 "Mistake in the README.me file (Installation Section)"
In the README.md file.

In the Installation section:
1.  Install the Jekll seo tag gem using `Command Prompt`:
[code]

2.  Add the following to your site's `Gemfile`:
[code]

3.  Add the following to your site's `_config.yml`:
[code]
4.  Add the following right before `</head>` in your site's template(s):
[code]

[2017-06-18 14:52] pathawks commented on #216
What is the mistake?

[2017-06-18 15:00] mittalyashu commented on #216
![image](https://user-images.githubusercontent.com/29014463/27261643-e6d26fe4-5464-11e7-9df1-a84e16936065.png)

Check this image. It is the screenshot of the README.me file of the installation section.

[2017-06-18 16:13] DirtyF commented on #216
@mittalyashu When you use a Gemfile, you're supposed to run `bundle install` to install. Feel free to open a PR if you think this step is missing for users not familiar with `bundler`.

[2017-06-19 08:43] ashmaroli commented on #216
@mittalyashu There is no mistake here.

There are two types of plugins: **Gem-based plugins** and **Local plugins**

Gem-based plugins are packages usually consisting of numerous `.rb` files, but may contain a single `.rb` file as well, and are generally hosted at `https://rubygems.org/gems/`. They're run by Jekyll based on your config file and `Gemfile`.

Local plugins are understandably a single

[2017-06-20 13:53] mittalyashu commented on #216
@ashmaroli It's it will be better, if it is mentioned in the README.md file itself.

`There are two types of plugins: Gem-based plugins and Local plugins`

[2017-06-20 14:05] ashmaroli commented on #216
Its not an official distinction, but simply terms I invented to help make the concept clear to you.
Besides, this info should be added to the docs for Jekyll itself instead of a documentation for a  Jekyll Plugin such as `SeoTag`

[2017-06-20 14:23] logankp opened #217 "Allow turning off Twitter Summary Card"
I utilize the Author object in _config.yml for the theme I'm using (Minimal Mistakes). I'd like the ability to use the seo plugin without having a Twitter Summary Card generated as I have no Twitter account.

Is there currently a way to turn this feature off?

[2017-06-20 14:38] #216 closed

[2017-06-20 16:21] DirtyF commented on #193
No response, closing this.

[2017-06-20 16:21] #193 closed

[2017-06-20 16:29] DirtyF commented on #217
Twitter Cards are useful even if you don't have a Twitter account, and every tweet linking to a post on your blog will embed the associated image and description.

[2017-06-21 14:17] logankp commented on #217
True, but I'd rather just not have any Twitter integration while still enjoying the rest of the benefits of this plugin.

[2017-06-21 15:07] DirtyF commented on #217
If you don't set `twitter.username` in your config_yml, no twitter markup is being generated.

[2017-06-22 15:05] logankp commented on #217
That did it! Just had to completely delete the twitter lines in _config.yml instead of just setting them to blank.

[2017-06-22 15:05] #217 closed

[2017-06-24 21:37] pathawks commented on #159
Themes can require plugins. This seems to be as good as it gets for now.

If Jekyll added support for something like WordPress hooks, we could revisit this.

[2017-06-24 21:37] #159 closed

[2017-06-25 04:05] jhabdas commented on #159
@caspervonb IIRC for Jekyll to implement a hooking system like WordPress it'll require some of the following:

- A class like [`WP_Hooks`](https://github.com/WordPress/WordPress/blob/master/wp-includes/class-wp-hook.php)
- Methods for filtering hooks and defining actions like [`add_filter`](https://developer.wordpress.org/reference/functions/add_filter/) and [`add_action`](https://developer.wordpr

[2017-06-26 13:56] aarongustafson commented on #135
Any feedback on my comment above?

[2017-07-16 14:23] pschfr commented on #143
Any way we can reopen this? :/

[2017-07-17 15:54] benbalter commented on #209
@8parth Please do!

[2017-07-17 19:09] ahmetb opened #219 "Add option to prevent using site description for og:description"
When a particular does not have a `description`, SEO plugin uses the site description in _config.yml as `og:description`. This is not a great idea, as both Facebook and Twitter can extract the main content from a page's HTML.

If this plugin offers a way to disable using site’s main description for all pages in `og:description`, that would be great.

You can see this issue in action at https://kub

[2017-07-17 19:27] benbalter commented on #219
Would it make more sense to implement support for page excerpts in Jekyll core?

[2017-07-17 19:30] ahmetb commented on #219
I'm not familiar with the inner workings of the project. Seems like there's already support for excerpts: https://jekyllrb.com/docs/posts/ If available, it would be nice to have it used instead of og:description.

That said, if you omit og:description, FB/Twitter etc will do almost an equally good job extracting the relevant content.

[2017-07-18 11:50] 8parth commented on #209
@benbalter this issue is solved with PR #211 and merged, so I am closing this issue. Thanks for providing opportunity to contribute!

[2017-07-18 11:50] #209 closed

[2017-07-23 09:55] mehmandarov commented on #210
This is still an issue after updating all the packages. Can anyone else confirm? I have posted links to the examples and configurations above.

[2017-07-23 15:54] mehmandarov opened #220 "<title>-tag on pages gets wrong page.name on githubpages.io"
When deployed to gihubpages, <title>-tag gets wrong value from SEO-plugin. The title gets set to for example "Home | user.github.io" instead of "Home | {{site.name}}". This works totally fine locally, thoguh. Example: https://mehmandarov.com/

[2017-07-23 23:40] mehmandarov opened #221 ""twitter:creator" is set wrong with multiple users"
When having several authors, <meta name="twitter:creator"...> gets set to "@username" (from _config.yml) and not "@author.twitter".

[2017-07-24 12:17] mehmandarov commented on #221
If that helps, I am still able to get the twitter user via: "{{author[page.author].twitter}}".

[2017-07-24 13:46] benbalter commented on #221
@mehmandarov are you able to push up a failing test to reproduce this?

[2017-07-24 13:48] benbalter commented on #220
Per [the usage instructions](https://github.com/jekyll/jekyll-seo-tag/blob/master/docs/usage.md#usage) you should be using `site.title`, not `site.name`.

[2017-07-24 13:48] #220 closed

[2017-07-26 17:27] BlythMeister commented on #84
Not sure how to request this to be re-opened but this is still an issue as your forced to have a large Twitter card as soon as you put an image.

I've put a PR in with a proposed "fix" whereby at a site level you can specify you don't want large cards.
This may be better at a post level, but since the workaround was at site level, this seemed reasonable.

[2017-08-05 12:12] 7php opened #223 "Setting og:site_name independently of og:title"
Hi,
**og:site_name** is getting set same as **og:title**.
These are the value set for `title` in **_config.xml**

Is there anyway, I can set site_name in config.xml for og:sitename, because technically og:site_name & og:title should be different, at least for me.

Please advise how I can achieve this scenario?

[2017-08-05 12:20] 7php commented on #219
@ahmetb , on the page concerned, in your front-matter, set `description: " "` ?

[2017-08-05 12:28] 7php commented on #223
UPDATED:
Ok, while hitting my head through this more, I found something interesting in solving this:
- in _config.xml, title will be used for og:site_name
- and in the page concerned, if you set another title in front-matter, og:title is set to this.

I must this was not intuitive at all and it's no where in the documentation. Might be worthwhile to add this to the documentation. I'll try a PR if

[2017-08-05 19:02] ahmetb commented on #219
@7php sounds like an overkill (or not quite the right solution to do) when you have 500 pages contributed by 800+ people on a daily basis. :)

[2017-08-05 22:36] mmistakes commented on #219
@7php you can use front matter defaults in your `_config.yml` and set for all posts.

https://jekyllrb.com/docs/configuration/#front-matter-defaults

[2017-08-06 04:04] ahmetb commented on #219
@mmistakes Hmm I tried the following in `_config.yaml`

[code]

I'm still getting `og:description` meta tag with value that's in `description:` key of `_config.yaml`

In case you're interested in taking a look, the site is at https://github.com/kubernetes/kubernetes.github.io.

[2017-08-06 04:50] mmistakes commented on #219
What about `description: " "` with a space like @7php suggested above?

[2017-08-06 07:19] 7php commented on #219
hi guys,
I have tried the defaults in front-matter, here are my observations:

1) description: " " # with a space does not work unfortunately

2) I had to "fake" the space with `&nbsp;` as follows:
[code]

3) Another approach is to use an "**IF**" statement in your **layouts**, so that **IF NOT description**, then simply output: `<meta property="og:description" content="">`

Hope that can help..

[2017-08-13 04:10] #100 closed

[2017-08-16 10:49] designerwebhosting opened #226 "unable to set canonical_url"
I've added canonical_tag to my front end in my post and defined it as per the usage info, but when I inspect the html it still displays the post's url.

[2017-08-17 14:37] designerwebhosting commented on #226
Thank you. Worked first time.

[2017-08-17 14:37] #226 closed

[2017-08-18 16:32] benbalter commented on #215
I'm of the opinion that settings should be stored in the site's config file and content in the form of structured data should live in the data folder. It sounds like a better solution would be to encourage the editor to add support for editing the config as they do data files.

[2017-08-22 14:11] #158 closed

[2017-08-24 22:18] benbalter opened #233 "Remove null values from JSON-LD"
Since https://github.com/jekyll/jekyll-seo-tag/pull/229, any value we potentially calculate for JSON-LD is outputted. Previously, we'd filter out any value that was `null`, and only include keys for which we had values.

While this is technically valid per the JSON-LD spec, we should strip the `null` values to further minify the output and save some bandwidth.

I suspect we could either do this by

[2017-08-25 05:42] jmcbee opened #234 "JSON-LD image output"
Hello,

It seems the `image` property in the JSON-LD is just an URL when I provide an URL to an image instead of an `ImageObject`. I get the following error:

[code]

[2017-08-25 14:03] benbalter commented on #234
@fbm-static it's my understanding that [URL is an accepted value for `image`](http://schema.org/image). Is that not the case? Is there a reason to prefer an ImageObject?

[2017-08-30 20:02] mohsenSy opened #235 "unable to install and use plugin on jekyll 3.4.3"
I followed the instructions in the installation page and when I run my site using `bundle exec jekyll serve` I get the following error:

[code]
If I change `plugins` to `plugins_dir` I get this error too:

[code]

How can I resolve this? Please help.

Thanks a lot.

[2017-08-30 20:06] benbalter commented on #235
Can you paste the contents of your `_config.yml` file?

[2017-08-30 20:09] mohsenSy commented on #235
[code]

[2017-08-30 20:09] mohsenSy commented on #235
This is my repository https://github.com/mohsenSy/mohsenSy.github.io

[2017-08-30 20:16] benbalter commented on #235
For Jekyll `<= 3.5` the `plugins` configuration must be `gems`. So you can either (A) Upgrade to Jekyll 3.5 or (B) rename `plugins` to `gems` in your config. Both should work.

[2017-08-30 20:18] mohsenSy commented on #235
@benbalter thanks a lot I upgraded to jekyll 3.5.2 and it worked like a charm :+1:

[2017-08-30 20:18] #235 closed

[2017-09-02 20:11] #201 closed

[2017-09-08 19:47] benbalter opened #238 "Prefer site.name over site.title"
We currently will use both `site.name` or `site.title` so that users previously using `site.name` (a common design pattern) don't have to change their site to use the plugin:

https://github.com/jekyll/jekyll-seo-tag/blob/7313ee7e503b3ac2064e8930ee63895f7a94769e/lib/jekyll-seo-tag/drop.rb#L30-L32

We prefered `site.title` and recommend it in our documentation, because it mirrors `post.title` (so a

[2017-09-08 21:38] parkr commented on #238
6: Deprecate `site.name` in favor of `site.name`. The site doesn't have a name, it has a title, and consistency is our guiding light.

😏

[2017-09-11 16:22] benbalter commented on #238
@parkr Makes sense. Would you expect Jekyll SEO tag and/or Jekyll Metadata to give you a warning in any of the above cases?

[2017-09-11 16:49] parkr commented on #238
If we deprecated `site.name` in favor of `site.title`, it'd definitely be nice to have a warning. We'll definitely have to fall back to `site.name` indefinitely, but adding a warning would be neat.

LOL I had a typo that made it completely confusing.

Option 2 is also a perfectly fine solution under the principle of least surprise. I trust your judgement here. 👍

[2017-09-11 17:06] benbalter commented on #238
👍 I think the best option sounds like option 8 (2+6). I'll update GitHub metadata to throw a warning and do nothing if `name` is set (formally deprecating `name` if favor of `title`).

[2017-09-11 17:06] #238 closed

[2017-09-24 15:54] mehmandarov commented on #221
@benbalter: I have a configuration that gives that error available online – both config and the running site. Not yet sure how to reproduce this in the tests as I need to set up the dev environment.

[2017-09-27 17:23] yorb opened #239 "Collection documents shouldn't always be marked as articles"
The template is currently using the presence of `page.date` to determine if article and published time tags should be written:

[code]

This seems reasonable, except that **all collections in Jekyll have a `page.date` variable**. This should probably be changed in Jekyll, since there are many use cases for date-agnostic collections, but in the meantime it would be great to have more control over t

[2017-10-07 08:56] DirtyF commented on #219
In YAML you have to specify a `null` value.

So if you declare this defaults in your `_config.yml` :

[code]

All meta description (HTML, OPenGraph, JSON/LD)  are set to the default excerpt (the first paragraph in your Markdown file)

[2017-10-12 16:11] #214 closed

[2017-10-16 22:30] innopal opened #240 "JSON-LD publisher output"
First off, thank you for a super useful plugin.

I can't figure out a way around an issue though.
I am getting an error from google's Stuct data testing tool:(
publisher is null for my BlogPosting schema type, and google's struct validation tool says it is required.
Is this a bug? No matter where I set the publisher it is always null.
I looked at the source code and it seems like it is setting the

[2017-10-17 08:11] DirtyF commented on #240
Could you provide a link to the validation error message?

[2017-10-18 22:36] innopal commented on #240
No problem! Here it is:
[](https://search.google.com/structured-data/testing-tool/u/0/#url=http%3A%2F%2Fblog.tournamatic.com%2Fschedule-your-tournament)

[2017-10-18 22:36] innopal commented on #240
https://search.google.com/structured-data/testing-tool/u/0/#url=http%3A%2F%2Fblog.tournamatic.com%2Fschedule-your-tournament

[2017-10-24 23:22] pathawks commented on #233
If we could do it without string manipulation, that would be preferable :+1:

[2017-10-26 15:10] #135 closed

[2017-10-27 18:12] Jmuccigr opened #244 "Shorten default page title?"
(Coming at this from [jekyll theme minima](https://github.com/pages-themes/minimal/issues/13))

I wonder whether the default page title could be shortened a bit, in particular by dropping out the second components [here](https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/jekyll-seo-tag/drop.rb#L43-L54).

The current versions end up extremely long without much advantage, IMO.

[2017-10-27 18:47] pathawks commented on #244
What would you like instead?

[2017-10-27 18:48] Jmuccigr commented on #244
I think in either case just the first component (page.title or site.title) would be sufficient.

[2017-10-31 00:17] mikebernardez commented on #244
+1

Maybe even a toggle to control whether the ` | site title` should be appended on the page level

[2017-10-31 14:47] benbalter commented on #244
@Jmuccigr Can you explain a bit more what you mean there? What is the downside of the title being too long? Is this on the home page? All pages? What about the SEO benefits of having additional keywords in the title?

[2017-10-31 15:17] Jmuccigr commented on #244
For one, you get shortening in browser tabs, so the title isn't actually visible anyway.

I think of titles as useful to the person browsing the page, not as carriers of (other) metadata.

[2017-10-31 18:25] mikebernardez commented on #244
Hey @benbalter, google search snippet is our primary concern. We're developing some pages that are fairly targeted and we would like control on whether we want to include the site name or not. Here's a couple of scenarios in this image:

![google search snippet preview - google search 2017-10-31 11-19-33](https://user-images.githubusercontent.com/5894769/32241599-d6fbb372-be2d-11e7-95c9-243b53f1a8

[2017-11-04 15:17] first-timers[bot] opened #245 "Docs: Use gems config key for Jekyll < 3.5.0"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🎃💻👕 Hacktoberfest: Trick or Treat!

If you haven’t yet, sign up for [Hacktoberfest](https://hacktoberfest.

[2017-11-12 02:45] chrislovecnm opened #248 "name: null in ld+json"
Not sure if this is expected, but I am getting this output from my site:

[code]

[2017-11-13 16:23] benbalter commented on #248
https://github.com/jekyll/jekyll-seo-tag/blob/232d9f91ec234e3275676045ee6f19d73108254b/lib/jekyll-seo-tag/drop.rb#L58-L69 is the relevant line. Assuming this is the homepage or about page, I believe it's intentional?

[2017-11-13 19:58] chrislovecnm commented on #248
This page is a post, not the home or about. How is seo_name set?

[2017-11-13 19:59] chrislovecnm commented on #248
I wonder if index.html is picking it up. All my permalinks are index.html

[2017-11-13 21:05] benbalter commented on #248
Can you explain what you mean? Is your repository public?

[2017-11-13 21:51] chrislovecnm commented on #248
https://github.com/chrislovecnm/chrislovecnm.com
The HTML pages on my blog are all named index.html. Is the plunging matching it as a homepage?

[2017-11-16 01:52] benbalter commented on #248
@chrislovecnm this is technically the intended behavior, at least as the logic is implemented in https://github.com/jekyll/jekyll-seo-tag/blob/232d9f91ec234e3275676045ee6f19d73108254b/lib/jekyll-seo-tag/drop.rb#L62-L63.

I'm not sure, however, is this is the correct JSON-LD implementation. A quick google search suggests the `name` field is only used as a top-level element when the `type` is `@orga

[2017-11-16 15:42] antoniotrento commented on #240
Same problem here guys : [Structured data validator don't find publisher](https://search.google.com/structured-data/testing-tool/u/0/#url=https%3A%2F%2Flantoniotrento.github.io%2Fweb-marketing%2F2017%2F11%2F06%2Fi-miogliori-strumenti-per-far-crescere-i-social-network)

[2017-11-16 19:36] #233 closed

[2017-11-23 11:10] #210 closed

[2017-12-02 20:00] jekyllbot opened #251 "Time for a new release"
Hello, maintainers! :wave:

By my calculations, it's time for a new release of jekyll-seo-tag. It's been over 2 months since the last release, v2.3.0.

What else is left to be done before a new release can be made? Please make sure to update History.markdown too if it's not already updated.

Thanks! :revolving_hearts: :sparkles:

[2017-12-03 18:26] ananthp commented on #240
`publisher` field is null for all my pages too.

[2017-12-04 14:51] benbalter commented on #240
Here's the relevant logic:

https://github.com/jekyll/jekyll-seo-tag/blob/38b0fbd73ae3205b0673f5649311ed47cc7a1b5d/lib/jekyll-seo-tag/json_ld_drop.rb#L53-L64

If logo is not set, it will be `nil` in all cases (Because logo is a require property, IIRC). Is it possible that that is the case here?

[2017-12-04 14:53] benbalter commented on #251
[looking at the diff](https://github.com/jekyll/jekyll-seo-tag/compare/v2.3.0...master), we added the generator to the template, which I think will require a minor release.

[2017-12-04 15:46] antoniotrento commented on #240
Seem solve my problem! @benbalter Thanks a lot for your time! I really appreciate your help.

I hope that also for other users who have the same problem has been useful.

A great day. Antonio

[2017-12-04 15:53] #179 closed

[2017-12-04 16:12] #240 closed

[2017-12-04 16:12] benbalter commented on #240
@antoniotrento please feel free to submit a pull request to update the documentation to clarify this behavior, if you'd like.

[2017-12-04 17:04] antoniotrento commented on #240
Done [in this pull request](https://github.com/jekyll/jekyll-seo-tag/pull/253)

[2017-12-05 13:10] #223 closed

[2017-12-06 12:12] wsdjeg commented on #220
@benbalter if I want the title `Home - SiteName` instead of `Home | SiteName`, how could I do?

[2017-12-06 13:10] DirtyF commented on #220
@wsdjeg You can't choose the TITLE_SEPARATOR at the moment.

[2017-12-06 13:18] wsdjeg commented on #220
@DirtyF Thanks for your info, and Thanks for this plugin. :heart:

[2017-12-08 16:59] #251 closed

[2017-12-11 17:29] seafr commented on #245
Hi, I'd like to claim this issue. Thank you.

[2017-12-11 17:35] DirtyF commented on #245
@seafr 👍

Make sure to add backticks to the keys:

[code]

[2017-12-11 18:05] seafr commented on #245
I did. And for the version number too. So far, it looks ok. Please see [https://github.com/seafr/jekyll-seo-tag/blob/first-timers-label/docs/installation.md](https://github.com/seafr/jekyll-seo-tag/blob/first-timers-label/docs/installation.md)

[2017-12-11 18:59] DirtyF commented on #245
Add the  💡, open a pull request, and we're good 👌

[2017-12-11 19:06] seafr commented on #245
Done. Thank you.

[2017-12-11 19:11] #245 closed

[2017-12-16 14:44] benbrignell commented on #221
I'm currently experiencing what I think this issue describes.

Here's some more information about what's happening.

**Context:**
I've set my global twitter username in `config.yml`. Each page on the site has a unique author/creator which in most cases is an actual name.

I'm seeing `page.author` being used by `jekyll-seo-tag` which in the majority of cases displays a non-valid twittername.

Here'

[2017-12-17 00:12] mehmandarov commented on #221
Yes, this seems to be the same error, @benbrignell.

[2017-12-18 17:10] #215 closed

[2017-12-20 19:28] benbalter commented on #221
You can do this via front matter defaults, setting the default author twitter globally, and then overriding per post.

[2017-12-21 22:35] slowtokyo opened #257 "Image tag support for secure urls"
Feature request:
Per the Open Graph Protocal site (http://ogp.me/#structured), the image property `og:image` requires a `secure_url` property if linking to an https image. This might cause social sites to be denied access to an image resource. Would it be possible to support the `secure_url` property?

Thanks very much for the great plug-in by the way!

[2017-12-25 15:11] #234 closed

[2017-12-28 16:04] wsdjeg opened #258 "image support for github resources"
I hope the `image` option support value like:

https://cloud.githubusercontent.com/assets/13142418/26402270/28ad72b8-40bc-11e7-945e-003f41e057be.png

which is uploaded from the comment box.

[2017-12-28 16:32] benbalter commented on #258
Thanks for this. It should work. Do you mind providing a bit more information about what problem you're trying to solve? What have you tried that didn't work?

[2017-12-28 16:34] wsdjeg commented on #258
@benbalter Thanks, I want to know if I use a image like this , the url is not same as my website, will te break the seo?

[2017-12-28 16:38] benbalter commented on #258
It should not affect your SEO, and the plugin should support you linking to an external resource.

[2017-12-28 22:24] wsdjeg commented on #258
OK， Thanks. I am closing the issue.

[2017-12-28 22:24] #258 closed

[2017-12-30 17:38] ahmetb commented on #219
@DirtyF your recommendation doesn't seem to be working.

[code]

Repro: https://github.com/ahmetb/kubernetes.github.io/commit/f4e7d12c5d4eeb474749d8cfdc59996725e97508

[2018-01-04 12:29] elgravel opened #261 "Error: uninitialized constant Jekyll::SeoTag::UrlHelper"
Hi,

While starting my Jekyll locally in Docker I get this error message.

jekyll 3.5.1 | Error:  uninitialized constant Jekyll::SeoTag::UrlHelper

Can you help me with that?
Thanks,
Rafal

[2018-01-05 09:06] FaggotHackers69 commented on #221
OG Faggots

[2018-01-06 18:44] raja-anbazhagan commented on #102
BTW, jekyll-sitemap plugin honors `last_modified_at` front-matter variable for generating sitemap.xml. I guess this should be a standard enforced at `jekyll core`  itself.

[2018-01-06 20:14] alvarotrigo opened #262 "Define image base path?"
In the front matter of every post I'm using a `image` variable like this:
[code]
I use it for my own purposes in the list of posts and in the post itself.

Right now, the seo-tag plugin creates the following:
[code]

But I need the path to be within the `assets/imgs/` folder:

[code]

Is there a way to add a base path to the image path?
I would very much prefer not having to define it in every pos

[2018-01-06 22:51] pathawks commented on #262
This is not currently possible, no.

[2018-01-07 00:11] alvarotrigo commented on #262
So.... we have to specify the full path on every single post?
Is that how it is mean to work then?

[2018-01-07 01:31] pathawks commented on #262
That is correct.

Jekyll assumes nothing about how your assets are organized. If it is an absolute URL, it will be used as is. If it is a relative URL, it will be appended to the site’s root URL.

[2018-01-07 17:21] alvarotrigo commented on #262
Any way to run this plugin locally? So I can modify the plugin within my project?
I've tried moving the content of `lib` to my `_plugins` folder, then removing it from the global path in my computer.

![screen shot 2018-01-07 at 18 20 23](https://user-images.githubusercontent.com/1706326/34651906-77f7bb5c-f3d7-11e7-84fb-495a045605cd.png)

Now I'm getting the following error:

[code]

[2018-01-07 17:23] pathawks commented on #262
I don't know if it's possible to copy the plugin into the `_plugins` directory; this is not a supported use case for this plugin. I believe any plugin in the `_plugins` directory needs to be contained in a single file.

[2018-01-07 17:23] #262 closed

[2018-01-07 17:28] alvarotrigo commented on #262
Ok, thanks for the info! ;)

[2018-01-18 02:17] pathawks commented on #248
Fixed via #249

[2018-01-18 02:17] #248 closed

[2018-01-25 14:53] morungos opened #264 "List of authors doesn't make it into ld-json"
This is closely related to #208, but when there is a list of authors, nothing gets added to the ld-json (or anything else, as far as I can tell). A single author does. The front matter includes:

[code]

I don't get any build breaking, but there's no sign of authors generated in the output. That does seem to match the code in `json_ld_drop.rb` which logically only seems to handle a single author.

[2018-01-25 15:35] DirtyF commented on #264
With jekyll 3.7.0, the author is present in the JSON-LD.

With a `_config.yml` containing:

[code]
and a post front matter:

[code]

The plugin generates the following:

[code]

[2018-01-25 15:41] morungos commented on #264
@DirtyF that doesn't look like I'd expect either. I don't have a global author field, but the ld-json still only includes one of the specified authors. Is it supposed to just embed the first?

[2018-01-25 16:08] DirtyF commented on #264
YEs that is the current behavior because Twitter only handles one creator.

[2018-01-25 16:34] morungos commented on #264
@DirtyF But this is ld-json, which isn't for Twitter. I'm intending this more for Google.

It's very possible that it's irrelevant for SEO purposes (I'm a newbie in this field) and therefore isn't worth fixing. That response would be fine.

Even with that, I still struggled to get your behaviour (i.e., the first listed author) to happen. It turned out I was setting the default author using `defaul

[2018-01-26 19:53] ouyi opened #265 "Duplicate meta descriptions with pagination"
When [pagination](https://jekyllrb.com/docs/pagination/) is enabled, the description tags are identical for the paginated pages. Google Search Console lists this as an issue under Search Appearance => HTML Improvements => Pages with duplicate meta descriptions .

Is it possible to include the page number in the description when pagination is enabled?

For example:
[code]

[2018-01-26 20:22] benbalter commented on #265
If anyone is interested in taking this issue on, I believe the relevant change would need to be made [here](https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/jekyll-seo-tag/drop.rb#L40-L43).

[2018-01-27 18:10] #239 closed

[2018-02-01 11:50] inwardmovement opened #266 "Display crowdsourced best-practices in README.md"
Wouldn't it be great to detail what "battle-tested crowdsourced best-practices" the plugin is based on?

[2018-02-01 14:23] benbalter commented on #266
That is a reference to the specific implementations of the features listed in https://github.com/jekyll/jekyll-seo-tag#what-it-does. The details are frequently tweaked based on real-world use, and I don't think it would be practical to enumerate each specific implementation.

[2018-02-01 14:23] #266 closed

[2018-02-01 15:16] nhaglind commented on #244
Did this get addressed? I also would love to have an option to drop the site title on certain blog posts. I've used solutions like this for the index page but don't think it would look very elegant if I started to grow a large or statement.

[code]

Would be nice to maybe have an option in YAML Front Matter that could only use `title` and not append the site title.

[2018-02-01 15:29] pathawks commented on #244
The reason this is a template thing rather than a config thing is because a `<title>` will need to be provided if `title=false` is used.

As far as more granular options for how the title is generated, I think that is beyond the scope of this plugin. It is easy to write a Liquid template that does exactly what one wants for a particular site. The value of _this_ plug-in is to provide sensible defa

[2018-02-01 15:29] #244 closed

[2018-02-02 06:41] Kraymer opened #267 "Install docs: `{% seo %}`is being substituted"
At https://jekyll.github.io/jekyll-seo-tag/installation/ we have :

whereas it should be :

Problematic because I arrived tat htps://jekyll.github.io/jekyll-seo-tag/installation via a google search and genuinely believed it was the "official" install page for the plugin

[2018-02-02 09:10] DirtyF commented on #267
@Kraymer good catch, looks like the tag is being interpreted by GitHub Pages here.

[2018-02-02 14:57] #267 closed

[2018-02-02 14:58] DirtyF commented on #267
@Kraymer Thanks for reporting, this is fixed now 🌮 🍺

[2018-02-02 15:51] Kraymer commented on #267
:+1:

[2018-02-03 21:21] adborden opened #269 "`author` docs need link to description"
On the [usage page](https://github.com/jekyll/jekyll-seo-tag/blob/master/docs/usage.md), `author` is described twice as:

But the description is not listed below, it was moved to the [advanced usage page](https://github.com/jekyll/jekyll-seo-tag/blob/master/docs/advanced-usage.md#author-information).

If that information is still correct, I will submit a PR to link it.

[2018-02-03 21:26] DirtyF commented on #269
Good catch, we should link to the new section now.

[2018-02-08 20:00] jekyllbot opened #270 "Time for a new release"
Hello, maintainers! :wave:

By my calculations, it's time for a new release of jekyll-seo-tag. It's been over 2 months since the last release, v2.4.0.

What else is left to be done before a new release can be made? Please make sure to update History.markdown too if it's not already updated.

Thanks! :revolving_hearts: :sparkles:

[2018-02-10 10:35] trixpan opened #271 "Add the ability to add social profiles from _data/authors"
Currently one can use the _data/authors to map an author to its twitter details. It would be great if the same allowed for links to be also added so that LD+JSON payload included these details

[2018-02-10 12:05] trixpan opened #272 "Allow section wide canonical_url replacement"
Currently the canonical_url must be added to the front matter of an item or post in order for it to be overwritten by the plugin.

Sometimes one may want to use a single jekyll site to generate URLs that are accessible via different domains.

e.g.

www.formal.com/blog/

can also be reached by

funky.domain.name/blog/

It would be great if one could set something like a canonical_prefix that would

[2018-02-10 15:04] trixpan commented on #272
to the best of my knowledge, site.url is site-wide.

in this case, two different blogs live under the same site, with URL rewrite / site path being used to distinguish between them.

Think of the following structure

static-site
  - blog1
    - post1
  - blog2
    - post1

blog1 is in fact acessible via www.formal.com/news while blog2 is accessible via funky.domain.name/blog/

Redirects ensure the

[2018-02-10 16:15] pathawks commented on #272
Oh! I understand.
That is a _very_ interesting use case. I wonder how many other sites would use such a feature.

[2018-02-10 21:18] trixpan commented on #272
I think there's a few. Reasons I can think for using it:

- using external domain blog
  (this is sort of an SEO do/don't thing but has its use)
- multiple website hosting under a single jekyll file structure
  (sure this relies on server based fiddling but platforms like netlify make it a breeze)

If you don't mind, I am happy to submit a PR

[2018-02-10 23:07] pathawks commented on #272
I’m honestly not convinced that this feature is important enough to add. It seems like, if the sites really are separate, it would make more sense to store them in separate sites. Maybe Jekyll core could do a better job of supporting this use case, but supporting it only in one plugin seems like a half measure.

You are welcome to submit a PR of course, but I worry that the extra complexity this w

[2018-02-21 02:30] StefanBrand opened #274 "Can I set "og:title" to be the same as "page.title"?"
My `page.title` consists of the first heading and the `site.title`, e.g. "Kalender | Junge Pfarre Baden St. Stephan". `og:title`, however, is only set to "Kalender". I'd like to append the `site.title` in this case too.

If you like, you can see for yourself: https://junge-pfarre.github.io/kalender.html

Edit: I read on [Stack Overflow](https://stackoverflow.com/a/43154489) that `og:title` and `og

[2018-02-27 06:12] cdr255 opened #275 "Installation Documentation is Misleading."
In the installation documentation, it currently reads as though You are supposed to put the following before `</head>`:

    {% raw %}
    {% seo %}
    {% endraw %}

Since the correct way is simply including:

    {% seo %}

Shouldn't it be listed as such?

[2018-02-27 06:39] ashmaroli commented on #275
The `{% raw %}` `{% endraw %}` is there to simply prevent Jekyll from processing the `{% seo %}` when the Markdown document is processed into the [HTML page](https://jekyll.github.io/jekyll-seo-tag/installation/)

We tried to reduce confusion by placing the `raw` tags outside the fenced-code-block in the Markdown document

[2018-02-27 10:56] DirtyF commented on #275
I thought adding comments would prevents GitHub from showing the `raw` tags when browsing the markdown files.

Change was introduced in https://github.com/jekyll/jekyll-seo-tag/pull/273/files

We need the `raw` tag for the documentation website:
https://jekyll.github.io/jekyll-seo-tag/installation/

[2018-03-01 00:59] cdr255 commented on #275
@DirtyF That was exactly what I was going to suggest.

The issue is that comments were not also used for the `installation.md` file: https://github.com/jekyll/jekyll-seo-tag/blob/master/docs/installation.md

Currently, the `{% raw %}` tags are uncommented, and are thus visible if a user clicks on the Installation documentation link in the README.md: https://github.com/jekyll/jekyll-seo-tag/blob/ma

[2018-03-01 12:34] DirtyF commented on #219
@ahmetb Not setting a description for all pages does not change the fact that it will default to site description.

https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/jekyll-seo-tag/drop.rb#L71-L75

Maybe it's better to have an empty description and let search engines crawl the content here?

What do you say @pathawks ?

[2018-03-01 13:04] pathawks commented on #219
Yeah, maybe we should use `site.description` for home or about pages, and leave it blank for any other page that lacks a description.
Assuming this is valid.

[2018-03-08 15:26] #275 closed

[2018-03-13 10:10] mosesontheweb opened #277 "Canonical Url and og:url point to localhost"
Hi,

I just installed SEO Tag to my current new project and actually it does a great job. However, what's really curious is that it's using localhost:4000 as canonical url and og:url in a meta tag, even though I've specified the url in _config.yaml:
[code]
The output is:
[code]
Any hints, why SEO tag does this?

Thanks in advance, regards, Thomas

[2018-03-13 10:12] mosesontheweb opened #278 "<title>-Tag is completely messed up"
Hi,

another issue I recognized is that SEO tag somehow messes up the <title>-tag. I expected that it would use only the title specified in _config.yaml, but in fact it uses title + | (dash) + description.

Is this normal?

Regards, Thomas

[2018-03-13 10:49] mosesontheweb commented on #277
Well, it's my bad, I did some further investigation and saw a posting on Stackoverflow, telling to run finally `bundle exec jekyll build` to build a final version. I was running Jekyll in service mode, that's why canonical etc. was set to localhost:4000.

Sorry. Regards, Thomas

[2018-03-13 10:49] #277 closed

[2018-03-13 13:43] benbalter commented on #278
This is the intended behavior as an SEO best practice. See [the "What it does" section of the README](https://github.com/jekyll/jekyll-seo-tag#what-it-does):

[2018-03-13 13:43] #278 closed

[2018-03-14 16:03] emirkin opened #279 "og:image is not outputed"
Strangely, no setting of `image` or `logo` in `_config.yml` sets `og:image` in the *home* page. Yes, I did restart `jekyll serve`.

[2018-03-14 16:09] ashmaroli commented on #279
SEOTag is rendered per page in your site.
Try setting the `image` in your post's front matter..

[2018-03-14 16:14] emirkin commented on #279
Right. It is the **home** page that does not get it. I do have `image: ` there as well.

[2018-03-14 17:54] #279 closed

[2018-04-07 13:52] influentialcode opened #282 "Altering home page with front matter"
I'm attempting to alter the seo output for the home page using front matter on `_layouts/home.html` but the values that I'm setting don't seem to be having an effect on the output. For instance, I've tried to set the title and description but they're ignored. I've successfully changed the output for other pages such as Contact (`/contact.md`) using front matter so I'm confident that it's not a cac

[2018-04-07 16:34] DirtyF commented on #282
Have you tried with `index.html` or `index.md` instead of the layout file?

[2018-04-08 02:32] influentialcode commented on #282
Thank you for the quick response. I added an attribute to the `index.md` and saw the change in the output. Thanks for the suggestion.

For my own understanding, I have a couple questions if you don’t mind. I hadn’t added any attributes to that file because there’s a note in it to make changes to the layout file. Is it common or the intended use case to add front matter to `index.md`? Also, is ther

[2018-04-08 13:04] DirtyF commented on #282
Sorry for the confusion, but yeah you should add the Front Matter for the SEO in the targeted page, *not* the layout.

What we mean here is if that you wanna change the layout of the index page, you should modify `_layout/home.html`. If you can think of a better way of conveying this info, we'll be happy to make that change.

See how the plugin fetch the Front Matter of the **page** and default to

[2018-04-08 13:04] #282 closed

[2018-04-10 23:13] #272 closed

[2018-04-17 14:42] manavm1990 opened #283 "No respect for YAML front matter title?"
https://stackoverflow.com/questions/49881030/why-do-all-of-my-jekyll-page-variables-output-correctly-except-for-page-title

[2018-04-17 15:08] #283 closed

[2018-04-17 15:08] manavm1990 commented on #283
Sorry, this is not an issue. The data was pulling from elsewhere in another MD file.

[2018-04-22 01:10] #257 closed

[2018-05-04 13:11] #261 closed

[2018-05-04 20:10] nicolaskopp opened #286 "set author to be organization instead of person?"
In my case the author has not to be type person but  organization.

i wish for something like this:

{"headline":"Headline","
author":{"@type":"Organization","name":"My Company name"},

 (...)

publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"comapny-image.png"},"name":"My Company name"},"@context":"http://schema.org"}

is this possible?

[2018-05-05 14:11] #221 closed

[2018-05-09 16:56] ng-chicago opened #287 "Customize twitter:card value?"
Would be good if you could pick the twitter:card value
Looks like it always defaults to **_summary_large_image_** only if there is an image?
Usually using **_summary_** in looks much better (IMHO)

This places a large stretched image across the whole card
        meta name="twitter:card" content="summary_large_image"
        meta name="twitter:image" content="http://mySite.com/assets/myImage.png"

[2018-05-13 04:50] TedTschopp opened #290 "Google Structured Data Testing Tool Returns Error: "Publisher: A value for the publisher field is required."
To reproduce head on over to [Google Structured Data Testing Tool](https://search.google.com/structured-data/testing-tool/u/0/) and have it scan a blog posting made by Jekyll with the SEO plugin active and the SEO tag inserted.

Observe results.  Here is my results for something I am playing with [here](https://www.tedt.org/2018/05/11/Of-Maps-and-Monsters-the-Right-Way-to-Populate-a-World/).

![sc

[2018-05-14 14:18] benbalter commented on #290
If you define a logo, the publisher property will be propagated:

https://github.com/jekyll/jekyll-seo-tag/blob/38b0fbd73ae3205b0673f5649311ed47cc7a1b5d/lib/jekyll-seo-tag/json_ld_drop.rb#L53-L64

[2018-05-14 17:34] TedTschopp commented on #290
Well, that is certainly a work around that will get it validated, but probably still means that the plugin is not properly forming the JSON when you don't have a logo.

[2018-05-18 10:47] ng-chicago commented on #287
@XhmikosR  I THINK they are working on it, but it is not yet in the current version I downloaded
See this commit here
https://github.com/jekyll/jekyll-seo-tag/commit/643c2dbb06e99e876b4e1a62c922f117b64e1c14

[2018-05-18 10:57] XhmikosR commented on #287
Ah, that would explain it because the instructions refer to the master version.

@parkr @pathawks @benbalter: can you release a new version?

[2018-05-18 11:51] XhmikosR opened #291 "Specify `og:image:alt`"
From http://ogp.me/#structured

[2018-05-18 16:15] pathawks commented on #287
You're right; it looks like it's time for a new release. See also #270

[2018-05-18 16:15] #287 closed

[2018-05-18 16:16] pathawks commented on #270
I can cut a new release today :+1:

[2018-05-18 17:03] DirtyF commented on #270
@pathawks can you wait till I bump Rubocop to match Jekyll's version?

[2018-05-18 17:10] pathawks commented on #270
@DirtyF No problem :+1:

[2018-05-18 17:12] DirtyF commented on #270
Done 😃

[2018-05-19 14:28] robertosimoes commented on #240
First of all, I'd like to thank you for sharing this great work!
I'm new to Jekyll, and this plugin is saving my life.

It looks like this pull request solves Google's structured data validation for the publisher. But it doesn't allow to have a different publisher and author. Having different publisher and authors is useful for blogs that have multiple authors, but everybody is under the same Orga

[2018-05-21 16:49] mkoohafkan opened #294 "use https instead of http for schema.org link"
I recently switched to https for my Github-pages site, and I'm seeing a mixed-content warning on (some) browsers. I checked the page source and the only plain http reference I see is to http://schema.org, which I think is generated by the jekyll-seo-tag gem. Any chance you can update the gem to use https://schema.org instead?

[2018-05-21 16:53] pathawks commented on #294
Good idea. This is [fully supported by schema.org](https://schema.org/docs/faq.html#19) and, like you say, might be good for us to adopt.

Care to open a pull request?

[2018-05-22 15:15] first-timers[bot] opened #295 "Avoid mixed-content warning on https websites"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2018-05-22 20:30] alokpant commented on #295
hey, can i take this issue?

[2018-05-22 20:42] alokpant commented on #295
If I am not mistaken, only changing http://schema.org to https://schema.org. https://github.com/jekyll/jekyll-seo-tag/pull/296 solves the issue.

[2018-05-22 20:50] alokpant commented on #295
Rubocop is giving an warning.

[code]

It is also failing in previous PRs, should I update Rubocop rules to use new rule syntax?

[2018-05-23 14:09] alokpant commented on #265
@benbalter Can I look into this? So to make sure that I understand:

when pagination is enabled it should show something like this:
[code]

if not

[code]

[2018-05-23 14:11] benbalter commented on #265
@alokpant Yep. Exactly that. https://github.com/jekyll/jekyll-seo-tag/pull/250 may be a good place to start as it looks like it solved a similar problem.

[2018-05-23 14:34] alokpant commented on #265
Cool thank you. I will look into the reference and try to solve this too.

[2018-05-23 15:33] #295 closed

[2018-05-23 15:34] DirtyF commented on #294
Fixed in #296

[2018-05-23 15:34] #294 closed

[2018-05-24 05:27] alokpant commented on #265
@benbalter bit confused, shouldn't change be required [here](https://github.com/jekyll/jekyll-seo-tag/blob/46ad253d4de8d8064b4156a9db530399bdd9ec11/lib/jekyll-seo-tag/drop.rb#L36) rather than [here](https://github.com/jekyll/jekyll-seo-tag/blob/46ad253d4de8d8064b4156a9db530399bdd9ec11/lib/jekyll-seo-tag/drop.rb#L40-L43) as you provided a clue above. As task is to change meta-description.

How can

[2018-05-25 17:10] #264 closed

[2018-05-31 06:18] ilyaigpetrov opened #298 "Recommend Adding <html prefix=...> In The Docs"
Open Graph documentation suggests adding `<html prefix="og: http://ogp.me/ns#">`.
If it is the recommended way by Open Graph then I suggest adding this prefix to your documentation.

[2018-05-31 14:24] benbalter commented on #298
That's a great suggestion @ilyaigpetrov. As you implied, it would have to be implemented by the template, so docs are the right route to go. Would you be interested in submitting a pull request with that change?

[2018-06-01 06:06] ilyaigpetrov commented on #298
@benbalter Requested a pull. Let me know if my English is not perfect or if you would prefer putting it into another document.

[2018-06-03 23:10] #269 closed

[2018-06-10 11:10] #271 closed

[2018-06-13 23:40] kennita01 commented on #298
-8-

[2018-06-13 23:41] kennita01 commented on #298
<8>

[2018-06-19 20:05] daydream05 opened #299 "google site description is showing footer instead of actual description"
I'm using this version` jekyll-seo-tag (2.2.3)`

[2018-06-21 03:11] #274 closed

[2018-06-21 13:40] #299 closed

[2018-06-29 13:10] #219 closed

[2018-07-04 08:52] pradyunsg commented on #270
This can be closed, right?

[2018-07-04 11:34] #270 closed

[2018-07-13 14:18] thiagotalma opened #301 "Add corporate contact markeup"
Is it possible to include corporate contact markup?
https://developers.google.com/search/docs/data-types/corporate-contact

It would be ideal if we could include any markup used by Google.

[2018-07-14 19:07] TedTschopp commented on #290
You may indeed mark this bug as stale if you want it to never be fixed.  But I've already taken your code and fixed it myself with a liquid template instead of doing it server side.  I was trying to be a good citizen and you are just trying to feel better with yourself by having a computer close open bugs.

[2018-07-21 20:00] jekyllbot opened #303 "Time for a new release"
Hello, maintainers! :wave:

By my calculations, it's time for a new release of jekyll-seo-tag. It's been over 2 months since the last release, v2.5.0.

What else is left to be done before a new release can be made? Please make sure to update History.markdown too if it's not already updated.

Thanks! :revolving_hearts: :sparkles:

[2018-08-07 19:28] ScottKillen opened #304 "Should allow publisher to be a Person"
Publisher @type is hard-coded to be Organization, but Person should be allowed as well.

[2018-08-29 11:02] aav7fl commented on #304
Original hard-coding maniac here. 👋

I'm not saying that was correct when I made that decision, but I was trying to make it compatible with the AMP spec. Previously we had no `Publisher` type so I wasn't looking at the alternatives too closely. If you can make a PR and demonstrate a non-breaking method of adding an option for person, I'm sure the maintainers would be happy to merge it in.

[2018-09-01 16:50] totomobile43 commented on #262
Essentially ~0% of sites keep their image at the root URL, so why have this as a default in the first place?

[2018-09-04 22:10] #286 closed

[2018-09-14 02:16] huphtur opened #305 "Alternate image location?"
Is there a way to have the plugin pull images from a different location?

For example, page image is set as `image: /assets/page-pic.jpg`, but the image for the cards has a different name: `/assets/page-pic-meta.jpg`, or can be found in a different dir: `/assets/seo/page-pic.jpg`.

Reason: this makes it easier to optimize social card images in a build process.

[2018-09-14 19:51] nickmccurdy commented on #290
Not stale, still an issue.

[2018-09-14 20:53] TedTschopp commented on #290
Yup. Still an issue. The only thing stale here is the lack of attention from the team maintaining the code.

[2018-09-14 23:09] DirtyF commented on #290
Friendly reminder: maintainers are not people who are supposed to write code for free whenever someone has a particular need. Free software comes with no warranty. You are free to modify it to suit your own needs. Open source is about collaboration, complaining in issues is not helpful. Being pro-active and offering help is what open source is about. If you can not help, no need to put pressure on

[2018-09-18 12:10] #291 closed

[2018-09-18 12:11] XhmikosR commented on #291
This is a valid request...

[2018-09-24 06:10] #265 closed

[2018-10-09 09:46] philippemarlin opened #307 "Feature Request: Allow removing generator meta tag"
Hi,
Is it possible with option to remove this line ?
 `<meta name="generator" content="Jekyll v3.3.1" />`

[2018-10-09 09:50] ashmaroli commented on #307
Why do you want to remove it??

[2018-10-09 09:51] philippemarlin commented on #307
it's a footprint in Se0

[2018-10-09 09:52] ashmaroli commented on #307
More details, please.
How is this "footprint" hampering your site's SEO?

[2018-10-09 09:54] philippemarlin commented on #307
it's a footprint will can trace a website technology for private bl0g

[2018-10-09 11:57] philippemarlin commented on #307
@DirtyF i know that is a minority (source you can use https://www.wappalyzer.com/ ). But if all websites who push to your money site with same footprint is a danger. I do wp jekyll homemade and more but if the footprint are more removed is great.

[2018-10-09 18:27] ashmaroli commented on #307
Closing as this has been marked as "wont-fix". Will reopen if a better use case can be demonstrated.

[2018-10-09 18:27] #307 closed

[2018-10-10 19:56] infojunkie opened #308 "Override `template.html`"
I'd like to override the default `template.html` - in my case, I'd like to always show a Twitter `summary` card.  Is there a recommended way to do so?

[2018-10-10 19:59] pathawks commented on #308
If you want to override the template, you probably don’t want to be using this plugin in the first place.

[2018-10-10 20:00] infojunkie commented on #308
lol thanks

[2018-10-10 20:00] #308 closed

[2018-10-10 20:32] infojunkie commented on #308
In case anyone else is wondering too, here's a simple way to override the template: https://github.com/meedan/meedan.code/commit/a9ad6e794fffd35035aa7e5bfb1200a34fe0e479

[2018-10-14 00:17] KostasAndrianos opened #309 "The tag is not working"
Hello!

I've been trying to set it up for the past two hours, no luck whatsoever.
I have a gemfile like that
[code]
My `_config,yml` looks like this
[code]
The head of my index looks like this
[code]
I don't see any change in my generated index.html on GitHub pages. Any ideas?

[2018-10-14 02:30] ashmaroli commented on #309
Your `./index.html` doesn't have "[front matter](https://jekyllrb.com/docs/front-matter/)". Simply add it at the very beginning and you should see the output from the tag..
[code]

[2018-10-14 02:30] #309 closed

[2018-10-14 09:16] heitorPB opened #310 "Allow liquid markup in variables"
I have an YAML front matter similar to this:

[code]
 The reason for that is I'm using [jekyll-postfiles](https://nhoizey.github.io/jekyll-postfiles/) plugins to make my life easier. This plugin allows me to have static content in subfolders for my blog posts. For example:

    _posts/
    ├── 2018-10-10-a.md
    └── 2018-10-11-b/
        ├── 2018-10-11-b.md
        └── image.png

But the meta out

[2018-10-18 04:11] #298 closed

[2018-10-23 03:32] thinkv opened #315 "og:title is being stripped of characters like |"
Using | as separators as per various SEO blogs yet it seems to be stripped from the final metadata output? why?

[2018-10-29 12:13] #304 closed

[2018-10-29 18:07] ScottKillen commented on #304
I understand @aav7fl reasoning above...and if the goal is to adhere to AMP spec then I guess this isn't an issue...and as the bot has indicated, there hasn't been any activity.

As for me, I don't care about the AMP spec and so I just discarded the plugin and implemented the functionality I wanted by hand.

[2018-10-29 18:47] nickmccurdy commented on #304
Out of curiosity, what's the issue with the AMP spec? I've been using this to improve SEO on Google using the Structured Data Testing Tool and Search Console, and I believe there was a warning telling me to use a different publisher field. I'd be surprised if Google and AMP had different recommendations.

[2018-10-29 19:30] aav7fl commented on #304
Hey @nickmccurdy, I think I understand your question.

[AMP has required schema markdown properties](https://developers.google.com/search/docs/data-types/article#amp). Under the `Required properties` for AMP article pages (which includes blogs), it requires the `publisher` field. The only valid property is `Organization`.

[2018-10-29 19:38] ScottKillen commented on #304
Structured Data Testing Tool allows publisher to be a person.

![2018-10-29 15_36_11-window](https://user-images.githubusercontent.com/1509989/47675485-7769dc00-db90-11e8-9449-10e8d5c98702.png)

[2018-10-29 19:53] aav7fl commented on #304
Correct, but AMP structured data does not allow that property.

I understand this isn't an AMP repository. I don't see any reason you can't get a PR made with the option to change the `@type` somewhere.

[2018-10-29 20:18] nickmccurdy commented on #304
Is there a way to have a separate schema for AMP, or should we just add an option so users can control whether they want more schema support or AMP compliance?

[2018-10-30 03:47] nickmccurdy commented on #304
In general, I'm against supporting AMP because it's dominated by Google, not very useful even for Google SEo, and breaks the spec with things like this. We should prioritize spec support first, then maybe add an option for AMP if they want to use this plugin (or there can be a fork for AMP).

[2018-10-30 10:47] aav7fl commented on #304
I made it AMP compatible because I wanted to, and no one had added many of the schema fields (nor had anyone volunteered to) before that point. That PR took a lot of rewrites before approval.

https://github.com/jekyll/jekyll-seo-tag/pull/151

It's quite useful for SEO. Nearly half of my results are to my AMP pages. It's had a significant boost on my site traffic. Same with page ranking. It usuall

[2018-10-30 12:28] ScottKillen commented on #304
Unfortunately, I am no Ruby programmer and I don't have the inclination to learn it while going through what you did with #151 on a project as prolific as this.

...and I mentioned that I have a solution that works just fine using liquid templates.

[2018-10-30 12:53] aav7fl commented on #304
Nonsense, @ScottKillen. I bet you're a very capable developer. I didn't know Ruby before this project as well. Honestly, I still don't know it.

But back on point. I'm guessing a PR with a minor change for an option won't take too long.

[2018-10-30 13:05] ScottKillen commented on #304
Thanks, @aav7fl

I think I could probably do it...but I've got to pick up Ruby.

On the positive side...I just read your article, [Improving Jekyll…](https://www.kyleniewiada.org/blog/2017/02/improving-jekyll-2017/). Very valuable information...and I might even give AMP a try. Thanks!

[2018-10-30 13:10] aav7fl commented on #304
No problem @ScottKillen! Let me know if you need any help. I'd be happy to answer any questions on it.

[2018-11-01 10:51] alvarotrigo commented on #262
@TerminalAddict nah, they never really inteded to solve this issue.
I had to add the whole path in every single post, for example:

    image: /assets/imgs/image.png

[2018-11-09 20:00] jekyllbot opened #318 "Time for a new release"
Hello, maintainers! :wave:

By my calculations, it's time for a new release of jekyll-seo-tag. It's been over 2 months since the last release, v2.5.0.

What else is left to be done before a new release can be made? Please make sure to update History.markdown too if it's not already updated.

Thanks! :revolving_hearts: :sparkles:

[2018-11-13 15:11] #301 closed

[2018-11-15 02:57] nickmccurdy commented on #290
Bump

[2018-11-15 03:07] pathawks commented on #290
This does not need a bump; it either needs somebody to submit a pull request, or a lot more detail about specifically what needs to be modified.

Perhaps @TedTschopp would be willing to share his fixes.

It has already been made clear that “bump” comments are not helpful.

[2018-11-16 17:10] TedTschopp commented on #290
I wrote my fix all in Jekyll and dumped this plugin due this error.

The error is that this plug-in will only return the publisher field if a logo is defined.  That dependency is an error per Google's validation tool.

I will grant I have not read Google's documented specification on this issue, but code in production (at Google) supersedes documentation of any specification from an operational pe

[2018-11-16 17:43] pathawks commented on #290
Have you taken a look at [our template?](https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/template.html) It's all written in Liquid.

Issues that stay open forever are not good for anybody.

[2018-11-21 20:11] #303 closed

[2018-11-24 23:35] deze333 commented on #135
Joining the others who find having json-ld counterproductive in its current form. Please please please give us a way to **turn it off**. What the plugin currently offers severely limits publisher's ability to customise structured data. For example, I need to add structured data in the body elements markup but having json-ld in the header screws up parsing.

Hoping your voices will be heard. All it

[2018-12-10 20:50] derpmarine168 opened #321 "Re-add seo footprint option"
the comments and `<meta name="generator" content="Jekyll v3.8.5">` adds code size. Can you re-ad the option to disable it?

[2018-12-10 21:38] DirtyF commented on #321
As long as those few bytes aren't a botteneck for your site performance, you should be able to live with it.

[2018-12-10 21:38] #321 closed

[2018-12-17 13:32] XhmikosR opened #322 "link rel next/prev are missing the trailing slash"
Example:

[code]

Branch https://github.com/twbs/bootstrap-blog/tree/xmr-seo-tag

[2018-12-17 14:04] ashmaroli commented on #322
@XhmikosR This looks like an issue with `jekyll-paginate` since `jekyll-seo-tag` does not alter the
`{{ paginator }}` object.

[2018-12-17 14:07] #322 closed

[2018-12-17 14:08] XhmikosR commented on #322
OK I saw https://github.com/sverrirs/jekyll-paginate-v2 but it's not officially allows on GitHub Pages. I wish they moved faster.

[2018-12-17 14:09] ashmaroli commented on #322
There are talks of adopting https://github.com/sverrirs/jekyll-paginate-v2 as the spiritual successor but there are no official plans underway..

[2018-12-17 14:10] XhmikosR commented on #322
GutHub needs to step up its game. It's so annoying we can't use autoprefixer and so many other mandatory plugins. Oh, well, sorry for ranting.

[2018-12-17 14:12] ashmaroli commented on #322
You could just deploy your blog via other players (like https://www.netlify.com)..

[2018-12-17 14:13] XhmikosR commented on #322
I could but you see the irony here, though. Mark works for GitHub :P

[2018-12-17 15:13] DirtyF commented on #322
@XhmikosR As long as source code is hosted on GitHub, I don't see why hosting an open-source project on Netlify would be a problem. [GitHub Actions](https://github.com/actions) shows that GitHub can interact with orher services, as long as it remains the single source of truth.

[2018-12-17 15:14] XhmikosR commented on #322
Or they could try and be more active too. The problem isn't how the end user can work around such issues. The problem is GitHub not doing much (at least publicly) to improve their product.

But anyway.

[2018-12-17 15:23] DirtyF commented on #322
As far as I know it's not in GitHub's plans to work on improving GitHub Pages, they focus on their main product, hosting source code, the one that is profitable, which is perfectly understandable.

[2018-12-21 20:20] yyyc514 opened #323 "Broken if you're using Jekyll HEAD (renders the same SEO tags on ALL pages)"
See https://github.com/jekyll/jekyll/commit/a2d61f976ff9a796d7bd1f4442b4f31f314c5a0a.

My fix was to jekyll-seo-tag.rb:

[code]

[2018-12-21 21:07] yyyc514 commented on #323
If someone agrees this is the right fix I can submit a PR.  I just wanted it on the books if anyone else runs into the same issue and comes looking.

[2018-12-22 12:37] yyyc514 commented on #323
Thanks, I had skimmed issues, but not PRs.

[2018-12-22 12:37] #323 closed

[2018-12-23 02:55] mrcoles commented on #168
@benbalter the link has changed, it is now: https://github.com/jekyll/jekyll-seo-tag/blob/master/docs/advanced-usage.md#setting-a-default-image

[2018-12-23 04:11] thinkv commented on #315
Not stale

[2019-01-02 15:05] mehmandarov commented on #318
Happy new year! 🎉 Just wanted to check if there are any specific plans for when the next release will be made available? Cheers!

[2019-01-14 04:11] #305 closed

[2019-01-28 05:30] ylogx commented on #209
Following worked for me:

[code]

[2019-01-28 08:23] jhabdas commented on #121
Of note, VO on Mojave reads the `|` as “vertical line” or similar when reading title. Haven't tried with any other glyphs or character entities yet, though I can imagine someone at WebAIM would balk.

[2019-01-30 04:49] ali-hardan opened #327 "Wrong text in `usage` docs."
At [here](https://github.com/jekyll/jekyll-seo-tag/blob/master/docs/usage.md), You said  `date_modified is subset of social`. It's wrong and it not works when we use it under `social`, It works under `seo`.

[2019-01-30 07:32] ashmaroli commented on #327
@ali-hardan Are you willing to submit a PR to fix it..?

[2019-01-30 10:33] ali-hardan commented on #327
@ashmaroli No, because my English is not such good.

[2019-01-30 14:32] #327 closed

[2019-02-08 00:43] nebrelbug commented on #141
I can't figure out how to get this to work! @enzanki-ars were you able to get it working?

[2019-02-08 20:04] JasonFreeberg commented on #141
Same problem here. Any help would be great. The posts are UTF-8 encoded. Looks like the `head.html` file specifies UTF-8 in a `<meta>` tag. I have `encoding: utf-8` in my `_config.yml`.

I guess the problem is in how Ruby consumes the file. I

[2019-02-08 22:24] JasonFreeberg opened #329 "incompatible character encodings: Windows-1252 and UTF-8"
Just docing the fix here in case anyone else comes across this problem. Spent a few hours troubleshooting.

1. Use the tracer to the template file that is using jekyll-seo: `bundle exec jekyll serve -t`
2. Remove the tag.

[2019-02-09 02:41] ashmaroli commented on #329
@JasonFreeberg Will you be able to provide a minimal reproducible repo that we can use to identify and fix the issue instead of just recommending users to not use the plugin's Liquid tag..

[2019-02-14 11:10] #310 closed

[2019-02-16 01:00] JasonFreeberg commented on #329
Yeah here's the site and GitHub repo.
https://azure.github.io/AppService/
https://github.com/azure/appservice

[2019-02-24 21:31] cup commented on #121
https://github.com/jekyll/jekyll-seo-tag/pull/162

[2019-02-24 21:35] cup opened #331 "setting for separator"
a similar issue was previously raised, except it changed from "allow changing
the separator" to "change the separator".

i want my separator to be `-` (hyphen). im not proposing to change the default
as the default was already hyphen and it was changed away from that. instead
im proposing what the previous issue initially proposed: to allow users the
option

Personally, i prefer the hyphen because

[2019-02-24 21:38] cup commented on #121
https://github.com/jekyll/jekyll-seo-tag/issues/121
https://github.com/jekyll/jekyll-seo-tag/issues/331
https://github.com/jekyll/jekyll-seo-tag/pull/162

[2019-02-24 21:38] cup commented on #331
https://github.com/jekyll/jekyll-seo-tag/issues/121
https://github.com/jekyll/jekyll-seo-tag/issues/331
https://github.com/jekyll/jekyll-seo-tag/pull/162

[2019-02-25 03:01] jhabdas commented on #331
I'm for this change. The title separator is a basic form of art on the internet and should be allowed for GitHub pages, which is where many early devs go to learn the ropes these days.

[2019-02-25 03:04] cup commented on #331
here is a workaround:

[code]

[2019-02-25 03:05] jhabdas commented on #331
Where SEO is concerned it's important to have some leeway here IMO so not all pages look the same on SERPS. https://perishablepress.com/choosing-the-best-title-separators/

[2019-02-27 09:22] adster101 commented on #100
`noindex: true` would seem to be easy to do. Any pointers on where to start?

[2019-02-28 05:55] scottdorman opened #332 "Allow publisher name to be set to an organization"
Currently the publisher name in the JSON-LD data is always being set to the page author (if it's there).

https://github.com/jekyll/jekyll-seo-tag/blob/f66eb193ab6106176319e43bab2897cd94d06a66/lib/jekyll-seo-tag/json_ld_drop.rb#L64

For business sites, it's desirable that this is set to the name of the company and not the author of the post (which is already being set in the author data:

https://

[2019-03-10 06:46] epogrebnyak commented on #141
Shouldn't this issue be marked as open? The problem also [not solved in this issue](https://github.com/jekyll/jekyll/issues/5584#issuecomment-471251838)

[2019-03-16 18:10] #290 closed

[2019-03-20 16:47] RDIL opened #335 "Toggle for generator"
Can you please add a toggle for `<meta name=generator content="Jekyll vx.x.x">`

[2019-03-20 19:11] DirtyF commented on #335
nope.

[2019-03-20 19:11] #335 closed

[2019-03-20 19:25] RDIL commented on #335
Why not?  This could be extremely helpful for me.

[2019-03-25 10:28] #318 closed

[2019-03-26 23:05] tabasko78 opened #337 "meta tile looks be : meta title I meta description"
Hi,
I'm a big beginner ! so before saying there's an issue, I first think I missed something.

I have defined in _config.yml title and decription as
`title: MyFirstTitle`
`description: MyFirstDescription`

Doing this provides me a meta title that contains both information ! o0

Where can I correct the scheme in order to get only the required meta title

Thanks for your help.
I'm using the very las

[2019-03-26 23:14] tabasko78 commented on #278
Hi, I have the same problem :(
This can't be the best SEO practice.
SEO is my main job for this last 13 years this is the very first time I read that :)

Anyway, main goal is to know if I can correct the scheme ?
Thanks for your help.

[2019-03-27 08:39] inetbiz opened #338 "Let frontmatter decide if [blogposting/article/technical article et al]"
https://github.com/jekyll/jekyll-seo-tag/blob/master/lib/jekyll-seo-tag/drop.rb#L126 First off, any page other than the homepage (webpage) is an ItemPage.

With the exceptions of:
- [**AboutPage**](https://schema.org/AboutPage "Aboutpage")
- [**SearchResultsPage**](https://schema.org/SearchResultsPage "SearchResultsPage")
- [**ProfilePage**](https://schema.org/ProfilePage "ProfilePage")
- [**Conta

[2019-03-30 13:09] inetbiz opened #339 "Feature Request: JSON+LD @id Custom"
Person schema can get quite elaborate when parsing out the author person or publisher, editor, organization, et al. Mine is [**here**](https://gist.githubusercontent.com/inetbiz/a84101b9d979da51afcf22cebf0015f2/raw/6904d03ab971c48e5186649b0fc87a0974adb49c/schema-person.html "Person Schema"). I would like to define the ID in the frontmatter of a post or page.
[code]